<div class="table-responsive">

  <!-- <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
    <thead>
      <tr>
        <th>CODIGO</th>
        <th>NOMBRE</th>
        <th width=120>ESTADO</th>
        <th width=120></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listadoAlmacenes">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>
          <span *ngIf="item.estado==1" class="label label-success">Activo</span>
          <span *ngIf="item.estado==0" class="label label-danger">Inactivo</span>
        </td>
        <td class="btns">
          <button *ngIf="item.estado==1" class="btn btn-primary btn-xs mr3" (click)="editar(item.id)"><i
              class="fa fa-edit"></i></button>
          <button *ngIf="item.estado==1" class="btn btn-danger btn-xs mr3" (click)="desactivar(item.id)"><i
              class="fa fa-remove"></i></button>
          <button *ngIf="item.estado==0" class="btn btn-warning btn-xs mr3" (click)="reactivar(item.id)"><i
              class="fa fa-refresh"></i></button>
        </td>
      </tr>
    </tbody>
  </table> -->

</div>