<div id="content">
    <div class="row">
        <article class="col-sm-12">
            <sa-widgets-grid>
                <div sa-widget color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                        <h2>Listado de notas a proveedor</h2>

                        <div class="widget-toolbar">
                            <a class="btn btn-success"><i class="fa fa-file-excel-o"></i> </a>
                        </div>
                        <div class="widget-toolbar">
                            <a class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> </a>
                        </div>
                        <div class="widget-toolbar">
                            <select class="btn btn-default" name="stateFilter" id="stateFilter"
                                [(ngModel)]="f_state_table">
                                <option value="1">Activos</option>
                                <option value="0">Inactivos</option>
                                <option value="">Todos</option>
                            </select>
                        </div>
                        <div class="widget-toolbar">
                            <a (click)="newNotaProveedor()" class="btn btn-primary"><i class="fa fa-plus-square"></i> Nueva
                                nota</a>
                        </div>
                    </header>
                    <div>
                        <div class="widget-body">
                            <app-consignaciones-table [cambio]="c_cambio_table" [state]="f_state_table"
                                (close)="event_table_nota_proveedor($event)"></app-consignaciones-table>
                        </div>
                    </div>
                </div>
            </sa-widgets-grid>
        </article>
    </div>
</div>