<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">¿Aún no te registras?</span> <a routerLink="/auth/register" class="btn btn-success">Crear una cuenta ahora</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown" style="background-image: url('assets/img/business-3152586_1280.jpg'); background-size: cover; padding-bottom: 0px; height: 720px;">
  <div style="position: fixed;
              display: block;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.4);
              z-index: 2;
              cursor: pointer;"></div>
  <!-- <div id="content" class="container" >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">SmartAdmin</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin,
              everywhere you go!</h4>

            <div class="login-app-icons">
              <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
              <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
            </div>
          </div>
          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>

            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Not just your average template!</h5>

            <p>
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi voluptatem accusantium!
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"  style="position: relative;left: 35%; top: 50px; z-index: 3;">
        <div class="well no-padding" style="border: 1px solid #dddddd36 !important;">
          <form class="smart-form client-form" style="
          -webkit-box-shadow: 0px -5px 26px -12px rgba(128,151,186,1);
          -moz-box-shadow: 0px -5px 26px -12px rgba(128,151,186,1);
          box-shadow: 0px -5px 26px -12px rgba(128,151,186,1);
      ">
            <header style="text-align: center;">
             Inicio de sesión
            </header>
            <fieldset>
              <section>
                <label class="label">Correo electronico</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Por favor ingresa tu correo electronico o usuario</b></label>
              </section>
              <section>
                <label class="label">Contraseña</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Escribe tu contraseña</b> </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Recuerdame</label>
              </section>
            </fieldset>
            <footer>
              <button (click)="login($event)" class="btn btn-primary">
                Ingresa
              </button>
            </footer>
          </form>
        </div>
        <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <div id="content" class="container" >
    <div class="row">
    
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4"  style="position: relative;left: 30%; top: 50px; z-index: 3;">
        <div class="well no-padding" style="border: 1px solid #dddddd36 !important;" style="
        -webkit-box-shadow: 0px -5px 26px -12px rgba(128,151,186,1);
        -moz-box-shadow: 0px -5px 26px -12px #8097ba;
        box-shadow: 0px -5px 26px -12px rgba(128,151,186,1);
    ">
          <div class="smart-form client-form" >
            <header style="text-align: center;">
             Inicio de sesión
            </header>
            <fieldset>
              <section>
                <label class="label">Correo electronico</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Por favor ingresa tu correo electronico o usuario</b></label>
              </section>
              <section>
                <label class="label">Contraseña</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Escribe tu contraseña</b> </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Recuerdame</label>
              </section>
            </fieldset>
            <footer>
              <button (click)="login($event)" class="btn btn-primary">
                Ingresa
              </button>
            </footer>
          </div>
        </div>
        <h5 class="text-center"> - O ingresa usando  -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
