<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva Facturación</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                            
                            <form #facturacionMobilsoftForm="ngForm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!-- <h4 style="float: left; color: #4caf50; top: -4px;position: absolute;"  *ngIf="TipoFac == 1">Facturación
                                            Rapida</h4>
                                        <h4 style="float: left; color: #03A9F4; top: -4px;position: absolute;" *ngIf="TipoFac == 0">Facturación
                                            remision</h4>
                                        <div>
                                            <label class="switch">
                                                <input type="checkbox" (click)="cambio_tipo_facturacion($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="TipoFac">
                                                <div class="slider round" style="height: 20px;"></div>
                                            </label>
                                        </div> -->
                                        <h4 class="etiquetaNo"> No.</h4>
                                        <input class="form-control input-xs noselectpre" [(ngModel)]="formData.ALMACEN" name="ALMACEN" #ALMACEN="ngModel" style="color: red; font-weight: bold;" disabled>
                                        <input class="form-control input-xs noselect" [(ngModel)]="formData.CONSECUTIVO" name="CONSECUTIVO" #CONSECUTIVO="ngModel" style="color: red; font-weight: bold;" disabled>
                                    </div>
                                </div>
                                <div class="row" *ngIf="formData.MODALIDAD_PAGO == 'CR'" style="border-top: 1px solid rgba(0,0,0,.1);">
                                    <div class="col col-xs-3" >
                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                            <i class="fa fa-chevron-right" style="color: #94b0ff; "></i>
                                            <small style="font-weight: bold;"> &nbsp; {{cupo_credito.AUTORIZADO | currency}}</small>&nbsp;
                                            <span style="font-size: 12px; color: #94b0ff;">AUTORIZADO</span>
                                        </h1>
                                    </div>
                                    <div class="col col-xs-3">
                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                            <i class="fa fa-chevron-right" style="color: #fa8e9d; "></i>
                                            <small style="font-weight: bold;  "> &nbsp; {{cupo_credito.UTILIZADO | currency}}</small>&nbsp;
                                            <span style="font-size: 12px; color: #fa8e9d;">UTILIZADO</span>
                                        </h1>
                                    </div>
                                    <div class="col col-xs-3">
                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                            <i class="fa fa-chevron-right" style="color: #d5b396; "></i>
                                            <small style="font-weight: bold;"> &nbsp; {{cupo_credito.PENDIENTE | currency}}</small>&nbsp;
                                            <span style="font-size: 12px; color: #d5b396;">PENDIENTE</span>
                                        </h1>
                                    </div>
                                    <div class="col col-xs-3">
                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                            <i class="fa fa-chevron-right" style="color: #96d5ac; "></i>
                                            <small style="font-weight: bold;"> &nbsp; {{cupo_credito.DISPONIBLE | currency}}</small>&nbsp;
                                            <span style="font-size: 12px; color: #96d5ac; ">DISPONIBLE</span>
                                        </h1>
                                        
                                    </div>
                                </div>
                                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 1%;">
                                        <div class="col-xs-4" *ngIf="TipoFac == 0">
                                                <label for="telefono">Codigo de remisión <span class="required">*</span></label>
                                                <div class="input-group form-group form-group-xs">
                                                    <input class="form-control input-sm" type="text" [(ngModel)]="formData.CODIGO_REMISION" required="" id="CODIGO_REMISION" name="CODIGO_REMISION" #CODIGO_REMISION="ngModel" placeholder="Codigo remisión" >
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary btn-sm" style="font-size: 11.4px;" type="button">
                                                                <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                        </div>
                                        <div [ngClass]="{'col-xs-2': TipoFac == 0 , 'col-xs-4': TipoFac == 1}">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Almacen <span class="required">*</span></label>
                                                        <select class="form-control input-sm" [(ngModel)]="formData.ALMACEN" required="" id="ALMACEN" (change)="seleccion_almacen()" name="ALMACEN" #ALMACEN="ngModel" >
                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN">{{item.NOMBRE}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Modo de pago <span class="required">*</span></label>
                                                        <select class="form-control input-sm" [(ngModel)]="formData.MODALIDAD_PAGO" required="" id="MODALIDAD_PAGO" name="MODALIDAD_PAGO" #MODALIDAD_PAGO="ngModel" placeholder="Seleccione un proveedor">
                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_MODALIDAD_PAGO">{{item.NOMBRE}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div [ngClass]="{'col-xs-2': TipoFac == 0 , 'col-xs-4': TipoFac == 1}" *ngIf="formData.MODALIDAD_PAGO == 'EF' || formData.MODALIDAD_PAGO == null || formData.MODALIDAD_PAGO == 'CR' || formData.MODALIDAD_PAGO == 'CH'">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Tipo factura <span class="required">*</span></label>
                                                        <select class="form-control input-sm" [(ngModel)]="formData.TIPO_FACTURA" required="" id="TIPO_FACTURA" name="TIPO_FACTURA" #TIPO_FACTURA="ngModel">
                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_TIPO_FACTURA">{{item.NOMBRE}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div [ngClass]="{'col-xs-2': TipoFac == 0 , 'col-xs-4': TipoFac == 1}" *ngIf="formData.MODALIDAD_PAGO == 'TN'">
                                            <div class="form-group form-group-xs">
                                                    <label for="telefono">Cuenta bancaria <span class="required">*</span></label>
                                                    <select class="form-control input-sm" [(ngModel)]="formData.CUENTA_BANCARIA" required="" id="CUENTA_BANCARIA" name="CUENTA_BANCARIA" #CUENTA_BANCARIA="ngModel">
                                                            <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CUENTAS">{{item.NOMBRE}} {{item.CODIGO}}</option>
                                                    </select>
                                            </div>
                                    </div>
                                        <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Fecha <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.FECHA" required="" id="FECHA" name="FECHA" #FECHA="ngModel" disabled>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-xs-3">
                                                <label for="telefono">Identificación cliente <span class="required">*</span></label>
                                                <div class="input-group form-group form-group-xs">
                                                    <input class="form-control input-sm" type="text" [(ngModel)]="formData.IDENTIFICACION_CLIENTE" required="" id="IDENTIFICACION_CLIENTE" name="IDENTIFICACION_CLIENTE" #IDENTIFICACION_CLIENTE="ngModel" (keydown)="buscarTercero($event)" [disabled]="TipoFac == 0" placeholder="Identificación" >
                                                    <div class="input-group-btn" *ngIf="TipoFac == 1">
                                                        <button class="btn btn-primary btn-sm" style="font-size: 11.4px;" (click)="modal_usuarios()" type="button">
                                                                <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                        </div>
                                        
                                        <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Nombres del cliente <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.NOMBRES_CLIENTE" required="" id="NOMBRES_CLIENTE" name="NOMBRES_CLIENTE" #NOMBRES_CLIENTE="ngModel" placeholder="Nombres" readonly>
                                                </div>
                                        </div>
                                        <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Departamento <span class="required">*</span></label>
                                                        <select class="form-control input-sm" [(ngModel)]="formData.DEPARTAMENTO" required="" id="DEPARTAMENTO" name="DEPARTAMENTO" #DEPARTAMENTO="ngModel" placeholder="Seleccione un departamento" disabled>
                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_DEPARTAMENTO">{{item.NOMBRE}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                        <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Ciudad <span class="required">*</span></label>
                                                        <select class="form-control input-sm" [(ngModel)]="formData.CIUDAD" required="" id="CIUDAD" name="CIUDAD" #CIUDAD="ngModel" placeholder="Seleccione un departamento" disabled>
                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CIUDAD">{{item.NOMBRE}}</option>
                                                        </select>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        
                                        <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Dirección <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.DIRECCION" required="" id="DIRECCION" name="DIRECCION" #DIRECCION="ngModel" placeholder="Dirección" readonly>
                                                </div>
                                        </div>
                                        <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Telefono <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.TELEFONO" required="" id="TELEFONO" name="TELEFONO" #TELEFONO="ngModel" placeholder="Telefono" readonly>
                                                </div>
                                        </div>
                                        <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Celular <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.CELULAR" required="" id="CELULAR" name="CELULAR" #CELULAR="ngModel" placeholder="Celular" readonly>
                                                        
                                                </div>
                                        </div>
                                        <div class="col-xs-2" *ngIf="formData.MODALIDAD_PAGO == 'EF' || formData.MODALIDAD_PAGO == null || formData.MODALIDAD_PAGO == 'TN'">
                                            <div class="form-group form-group-xs">
                                                <label for="telefono">Correo <span class="required">*</span></label>
                                                    <input class="form-control input-sm" type="email" (keyup)="validarEmail(formData.CORREO)" [ngStyle]="{'background-color':(valCorreo)? '#ff000000' : '#ff000029' }" [(ngModel)]="formData.CORREO"  autocomplete="off" required="" id="CORREO" name="CORREO" #CORREO="ngModel" placeholder="Correo electronico">
                                            </div>
                                        </div>
                                        <div class='col-xs-2' *ngIf="formData.MODALIDAD_PAGO == 'CR'">
                                            <div class="form-group form-group-xs">
                                                <label for="telefono">Correo <span class="required">*</span></label>
                                                    <input class="form-control input-sm" type="email" (keyup)="validarEmail(formData.CORREO)" [ngStyle]="{'background-color':(valCorreo)? '#ff000000' : '#ff000029' }" [(ngModel)]="formData.CORREO"  autocomplete="off" required="" id="CORREO" name="CORREO" #CORREO="ngModel" placeholder="Correo electronico">
                                            </div>
                                        </div>
                                        <div class="col-xs-2"  *ngIf="formData.MODALIDAD_PAGO == 'TN' || formData.MODALIDAD_PAGO == 'CR'">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Plazo <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="number" [(ngModel)]="formData.PLAZO" (change)="calcular_fecha()" required="" id="PLAZO" name="PLAZO" #PLAZO="ngModel" autocomplete="off" placeholder="Plazo" [disabled]="formData.MODALIDAD_PAGO == 'CR'">
                                                </div>
                                        </div>
                                        <div class="col-xs-2"  *ngIf="formData.MODALIDAD_PAGO == 'TN' || formData.MODALIDAD_PAGO == 'CR'">
                                                <div class="form-group form-group-xs">
                                                        <label for="telefono">Fecha vencimiento <span class="required">*</span></label>
                                                        <input class="form-control input-sm" type="text" [(ngModel)]="formData.FECHA_VENCIMIENTO" required="" id="FECHA_VENCIMIENTO" name="FECHA_VENCIMIENTO" #FECHA_VENCIMIENTO="ngModel" placeholder="dd/mm/yyyy"  readonly>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <ul id="myTab1" class="nav nav-tabs bordered">
                                                <li [ngClass]="{'active': tipFacRap == 1}" *ngIf="TipoFac != 0">
                                                    <a (click)="tipFacRap=1" style="color: black !important;">FACTURACION
                                                        POR SERVICIOS</a>
                                                </li>
                                            </ul>
                                            <div id="myTabContent1" class="tab-content padding-10">
                                                <div  [ngClass]="{'in active':tipFacRap == 1}" class="tab-pane fade"  id="x1">
                                                    <section>
                                                        <br>
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" style="zoom: 0.9;">
                                                                <thead>
                                                                    <tr>
                                                                        <th colspan="2">
                                                                            <select class="form-control" (change)="seleccionar_servicio($event)" [(ngModel)]="dataTable.SERVICIO" name="SERVICIO" #SERVICIO="ngModel">
                                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_SERVICIOS">{{item.ID}}-{{item.NOMBRE}}</option>
                                                                            </select>
                                                                        </th>
                                                                        <th>
                                                                            <select class="form-control" [(ngModel)]="dataTable.UNIDAD" name="UNIDAD" #UNIDAD="ngModel">
                                                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_UNIDAD_MEDIDA">{{item.NOMBRE}}</option>
                                                                            </select>
                                                                        </th>
                                                                        <th>
                                                                            <input class="form-control" [(ngModel)]="dataTable.CANTIDAD_UNIDAD" name="CANTIDAD_UNIDAD" #CANTIDAD_UNIDAD="ngModel" type="number">
                                                                        </th>
                                                                        <th><input currencyMask class="form-control" [(ngModel)]="dataTable.VALOR" name="VALOR" #VALOR="ngModel"></th>
                                                                        <th><input class="form-control" [(ngModel)]="dataTable.IVA" name="IVA" #IVA="ngModel" value="0" type="number"></th>
                                                                        <th><input currencyMask class="form-control" [(ngModel)]="dataTable.SUBTOTAL" name="SUBTOTAL" #SUBTOTAL="ngModel"></th>
                                                                        <th><input currencyMask class="form-control" [(ngModel)]="dataTable.TOTAL" name="TOTAL" #TOTAL="ngModel"></th>
                                                                        <th>
                                                                            <button tooltips tooltip-template="Agregar" tooltip-side="left" class="btn btn-xs btn-success" [disabled]="dataTable.SERVICIO == null || ( formData.MODALIDAD_PAGO == 'CR' && cupo_credito.DISPONIBLE == 0)" (click)="agregar_concepto()">
                                                                                <i class="fa fa-plus-square"></i>
                                                                            </button>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th colspan="9">
                                                                            <textarea class="form-control" [(ngModel)]="dataTable.DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" rows="5" cols="50" placeholder="Descripcion del servicio..."></textarea>
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th width="130">Codigo</th>
                                                                        <th width="150">Descripción</th>
                                                                        <th >Uni. Medida</th>
                                                                        <th width="30">Cantidad</th>
                                                                        <th width="120"class="text-right">Valor</th>
                                                                        <th width="120"class="text-right">Iva%</th>
                                                                        <th width="120"class="text-right">Subtotal</th>
                                                                        <th width="120"class="text-right">Total</th>
                                                                        <th width="30"></th>
                                                                    </tr>
                                                                    
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of servicios; let i = index">
                                                                        <td>{{item.SERVICIO}}-{{item.NOMBRE}}</td>
                                                                        <td class="content-expand" >{{item.DESCRIPCION}}</td>
                                                                        <td>{{item.NOMBRE_UNIDAD}}</td>
                                                                        <td>{{item.CANTIDAD_UNIDAD}}</td>
                                                                        <td>{{item.VALOR | currency}}</td>
                                                                        <td>{{item.IVA}}</td>
                                                                        <td>{{item.SUBTOTAL | currency}}</td>
                                                                        <td>{{item.TOTAL | currency}}</td>
                                                                        <td>
                                                                            <button class="btn btn-xs btn-primary" (click)="editar(i)">
                                                                                <i class="fa fa-pencil"></i>
                                                                            </button>
                                                                            <button class="btn btn-xs btn-danger" (click)="quitar(i)">
                                                                                <i class="fa fa-remove"></i>
                                                                            </button>
                                                                            
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
            
                                                        <br>
                                                    </section>
                                                </div>
                                                <div [ngClass]="{'in active':tipFacRap == 2}" class="tab-pane fade"  id="x2">
                                                    <div class="">
                                                        <table class="table table-condensed table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Concepto</th>
                                                                    <th>Desscripcion</th>
                                                                    <th width=100>Valor</th>
                                                                    <th width=70>Cantidad</th>
                                                                    <th width=70>Descuento</th>
                                                                    <th width=70>Iva</th>
                                                                    <th width=100>Subtotal</th>
                                                                    <th width=50>
                                                                        <a tooltips tooltip-template="Agregar" tooltip-side="left"
                                                                            (click)="agregar_concepto()" class="btn btn-xs btn-success">
                                                                            <i class="fa fa-plus-square"></i>
                                                                        </a>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                        <fieldset style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                <!-- <div class="col-sm-8">
                                                    <h4 class="header">Comprobantes a generar </h4>
                                                    <br>
                                                    <div class="row-fluid">
        
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th>Codigo</th>
                                                                    <th>Nombre</th>
                                                                    <th>Detalle</th>
                                                                    <th class="text-right">Debito</th>
                                                                    <th class="text-right">Credito</th>
                                                                    <th class="text-right">Base</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="comprob in comprobantes_venta track by $index">
                                                                    <td>{{comprob.codcue}}</td>
                                                                    <td>{{comprob.nomcue}}</td>
                                                                    <td>{{comprob.detalle}}</td>
                                                                    <td class="text-right">{{comprob.debito | currency}}</td>
                                                                    <td class="text-right">{{comprob.credito | currency}}</td>
                                                                    <td class="text-right">{{comprob.base_retencion |
                                                                        currency}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th colspan="4" class="text-right">Diferencia</th>
                                                                    <th class="text-right">{{comprobante_totaldebito -
                                                                        comprobante_totalcredito | currency}}</th>
                                                                    <th>
                                                                        <a style="padding: 3px;" (click)="cargar_comprobantes()"
                                                                            class="btn btn-default  center-block txt-color-purple">
                                                                            <i class="fa fa-refresh fa-lg"></i>
                                                                        </a>
                                                                    </th>
                                                                </tr> 
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>-->
                                                <div class="col-sm-8">
                                                        <h4 class="header">Comentarios</h4>
                                                        <br>
                                                        <textarea rows="3" [(ngModel)]="formData.COMENTARIO" name="COMENTARIO" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                                        <br>
                                                </div>
                                                <!-- <div class="col-sm-3">
                                                    <h4 class="header">Total Retenciones</h4>
                                                    <br>
                                                    <section class="row-fluid">
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2">Retenciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Rete. Fuente</th>
                                                                    <th class="text-right text-danger">{{facturacion.RETEFUENTE
                                                                        | currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Rete. Ica</th>
                                                                    <th class="text-right text-danger">{{facturacion.RETEICA
                                                                        | currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Rete. Iva</th>
                                                                    <th class="text-right  text-danger">{{facturacion.RETEIVA
                                                                        | currency}}</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div> -->
                                                <div class="col-sm-4">
                                                    <h4 class="header">Resumen Venta</h4>
                                                    <br>
                                                    <section class="row-fluid">
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2">Resumen</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Subtotal</th>
                                                                    <th class="text-right text-info">{{facturacion.SUBTOTAL|
                                                                        currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <!-- <th>Descuentos</th>
                                                                    <th class="text-right text-danger">{{facturacion.DESCUENTOS|
                                                                        currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Cargos</th>
                                                                    <th class="text-right text-info">{{facturacion.CARGOS |
                                                                        currency}}</th>
                                                                </tr> -->
                                                                <tr>
                                                                    <th>Iva</th>
                                                                    <th class="text-right text-info">{{facturacion.IVA |
                                                                        currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Fletes</th>
                                                                    <th class="text-right">
                                                                        <input currencyMask class="form-control input-sm" [(ngModel)]="facturacion.FLETES" name="FLETES" id="FLETES" #FLETES="ngModel" (keyup)="recalcular()" style="width: 140px;text-align: right;float: right; color:#57889c !important">
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <th class="text-right text-success">{{facturacion.TOTAL |
                                                                        currency}}</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                        </fieldset>
                                </div>
                                
                                
                            </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="!facturacionMobilsoftForm.valid || facturacion.TOTAL  == 0" (click)="facturar(facturacionMobilsoftForm,facturacionMobilsoftForm);"class="btn btn-success">
                                    <i class="fa fa-save"></i> Facturar!</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

<ngx-smart-modal #myModal identifier="myModal"  [closable]="false" [escapable]="false"
[dismissable]="false" customClass="modal-smart-80 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Terceros</h4>
    </div>    
    <div class="modal-body">
        <div class="row">
                <div class="col-md-12">
                    <dx-data-grid #gridTerceros id="gridTerceros" (onRowClick)="selectionChangedHandler($event)" [dataSource]="terceros" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
                        <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                        <dxo-header-filter></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Almacenes" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
                        </dxo-pager>
                    
                        <dxi-column dataField="codter" [width]="80" caption="Cedula"></dxi-column>
                        <dxi-column dataField="nomter" caption="Nombre"></dxi-column>
                        <dxi-column dataField="celter" [width]="100" caption="Telefono"></dxi-column>
                        <dxi-column dataField="dirter" [width]="150" caption="Direccion"></dxi-column>
                    </dx-data-grid>
                </div>   
        </div>
               
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="myModal.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>
<ngx-smart-modal #productos identifier="productos"  [closable]="false" [escapable]="false"
[dismissable]="false" customClass="modal-smart-80 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Prodcutos</h4>
    </div>    
    <div class="modal-body">
        <div class="row">
                <div class="col-md-12">
                    <dx-data-grid #gridProductos id="gridProductos" (onRowClick)="selectionChangedHandler2($event)" [dataSource]="productos" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
                        <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                        <dxo-header-filter></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Productos" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
                        </dxo-pager>
                    
                        <dxi-column dataField="codins" [width]="100" caption="Codigo"></dxi-column>
                        <dxi-column dataField="nomins" caption="Nombre"></dxi-column>
                        <dxi-column dataField="unid" [width]="80" caption="Unidad"></dxi-column>
                        <dxi-column dataField="sublinea" caption="Sublinea"></dxi-column>
                        <dxi-column dataField="PVCINS" caption="Precio" format="$ #,##0.##"></dxi-column>
                    </dx-data-grid>
                </div>   
        </div>
               
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="productos.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>
