.header{
    margin-bottom: 0px;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}
.bloke-blue {
    border-left: 5px solid #94b0ff;
    margin: 0;
}
.bloke-red {
    border-left: 5px solid #fa8e9d;
    margin: 0;
}
.bloke-green {
    border-left: 5px solid #96d5ac;
    margin: 0;
}
.bloke-orange {
    border-left: 5px solid #d5b396;
    margin: 0;
}
/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    float: left;
    right: -175px;
    top: -1px;
    margin-right: 1%;
    margin-bottom: 0.3%;
    border: none;
}
.etiqueta {
    color: #03A9F4;
}

.etiquetarapida {
    color: #4caf50
}
.etiqueta,
.etiquetarapida {
    width: auto;
    display: -webkit-inline-box;
    position: absolute;
    right: 0px;
    margin-right: 80px;
    top: -2px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}

.noselect {
    color: red;
    width: 9%;
    display: -webkit-inline-box;
    position: relative;
    right: -83%;
    top: -4px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}
.noselectpre {
    width: 6%;
    display: -webkit-inline-box;
    position: relative;
    right: -83%;
    top: -4px;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}

.etiquetaNo{
    width: auto;
    display: -webkit-inline-box;
    position: relative;
    right: -82%;
    top: -3px;
    text-align: right;
    font-size: 14px;
    color: red;
    font-weight: bold;
}
/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #03A9F4;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4caf50;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4caf50;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.content-expand{
    max-width: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}