<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva nota</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                            
                          <form>    
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 style="float: left;" >Datos generales</h4>
                                        <h4 class="etiquetarapida" *ngIf="TipoNot == 1">Nota debito</h4>
                                        <h4 class="etiqueta" *ngIf="TipoNot == 0"> Nota credito</h4>
                                        <label class="switch">
                                            <input type="checkbox" (click)="cambio_tipo_tipo_nota($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="TipoNot">
                                            <div class="slider round" style="height: 20px;"></div>
                                        </label>
                                    </div>
                                </div>
                                
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row" style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 1%;">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Banco <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                        </select>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Cuenta bancaria <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha nota<span class="required">*</span></label>
                                            <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA" name="FECHA" id="FECHA" name="FECHA" #FECHA="ngModel" placeholder="Comprobante" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Numero de referencia <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="text" [(ngModel)]="formData.NUMERO_REFERENCIA" required="" id="NUMERO_REFERENCIA" name="NUMERO_REFERENCIA" #NUMERO_REFERENCIA="ngModel" placeholder="Celular">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <h4 class="header">Conceptos</h4>
                                            <br>
                                            <table class="table table-bordered table-bordered  zoom">
                                                <thead>
                                                    <tr>
                                                        <th width=70>Codigo</th>
                                                        <th>Descripcion</th>
                                                        <th width=350>Cuenta</th>
                                                        <th>Comentario</th>
                                                        <th width=150>Valor</th>
                                                        <th width=50>
                                                            <a class="btn btn-xs btn-success" data-toggle="modal" data-target="#modalconceptos_notas_bancarias">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr ng-repeat="concepto in nota_bancaria_conceptos">
                                                        <td>
                                                            <strong>{{concepto.codcon}}</strong>
                                                        </td>
                                                        <td>{{concepto.nomcon}}</td>
                                                        <td>
                                                            <ui-select ng-model="concepto.codcue" ng-change="cambio_concepto($index,concepto.codcue)" theme="bootstrap">
                                                                <ui-select-match placeholder="Seleccione una cuenta">
                                                                    <strong>{{$select.selected.codcue}}</strong> - {{$select.selected.nombre}}</ui-select-match>
                                                                <ui-select-choices repeat="item.codcue as item in concepto.cuentas | propsFilter: {nomcue: $select.search,codcue: $select.search}"
                                                                    position='down'>
                                                                    <div ng-bind-html="item.codcue | highlight: $select.search"></div>
                                                                    <div ng-bind-html="item.nomcue | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </td>
                                                        <td>
                                                            <input type="text" uppercase style="width: 90%;font-size: 15px;" class="input-xs" ng-model="concepto.comentarios" placeholder="Comentarios Aqui..">
                                                        </td>
                                                        <td>
                                                            <input type="text" focus-null=concepto.valor class="input-xs input-right input-val" ui-money-mask="2" ng-change="recalcular()"
                                                                ng-model="concepto.valor">
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-xs btn-danger" ng-click="eliminarConcepto($index)">
                                                                <i class="fa fa-remove"></i>
                                                            </a>
                                                        </td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 class="header">Comprobantes a generar </h4>
                                                <br>
                                                <div class="row-fluid">
        
                                                    <table class="table table-bordered resumen_form table-condensed zoom">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Detalle</th>
                                                                <th class="text-right">Debito</th>
                                                                <th class="text-right">Credito</th>
                                                                <th class="text-right">Base</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="comprob in comprobantes_compra track by $index">
                                                                <td>{{comprob.codcue}}</td>
                                                                <td>{{comprob.nomcue}}</td>
                                                                <td>{{comprob.detalle}}</td>
                                                                <td class="text-right">{{comprob.debito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.credito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.base_retencion | currency:"$":0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="4" class="text-right">Diferencia</th>
                                                                <th class="text-right">{{comprobante_totaldebito - comprobante_totalcredito | currency:"$":0}}</th>
                                                                <th>
                                                                    <a style="padding: 3px;" ng-click="cargar_comprobantes()" class="btn btn-default  center-block txt-color-purple">
                                                                        <i class="fa fa-refresh fa-lg"></i>
                                                                    </a>
                                                                </th>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <h4 class="header">Resumen Nota</h4>
                                                <br>
                                                <section class="row-fluid">
                                                    <table class="table table-bordered resumen_form">
                                                        <tbody>
                                                            <tr>
                                                                <th>Valor nota</th>
                                                                <th class="text-right text-success">{{valorNotaBancaria | currency}}</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                          <h4 class="header">Comentarios</h4>
                                          <br>
                                          <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                          <br>
                                    </div>
                                </div>
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar requisicion</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

