<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">¿Ya te encuentras registrado?</span> <a routerLink="/auth/login" class="btn btn-success">Ingresa</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown" style="background-image: url('assets/img/business-3152586_1280.jpg'); background-size: cover; padding-bottom: 0px; height: 720px;">
  <div style="position: fixed;
              display: block;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.4);
              z-index: 2;
              cursor: pointer;"></div>
  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <!-- <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm" style="z-index: 3;">
        <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
            <div class="login-app-icons">
              <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
              <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
            </div>
          </div>

          <img src="assets/img/demo/iphoneview.png" alt="" class="pull-right display-image" style="width:210px">

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Not just your average template!</h5>
            <p>
              Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
            </p>
          </div>
        </div>

      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="position: relative;left: 30%; top: 50px; z-index: 3;">
        <div class="well no-padding">

          <form id="smart-form-register" class="smart-form client-form">
            <header>
              Registrate, es totalmente gratis!
            </header>

            <fieldset>
              <section>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username" placeholder="Usuario">
                  <b class="tooltip tooltip-bottom-right">Es necesario para registrate en el sitio</b> </label>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" placeholder="Correo electronico">
                  <b class="tooltip tooltip-bottom-right">Es necesario para verificar tu cuenta</b> </label>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" placeholder="Constraseña" id="password">
                  <b class="tooltip tooltip-bottom-right">No olvides tu contraseña</b> </label>
              </section>

              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="passwordConfirm" placeholder="Confirmar constraseña">
                  <b class="tooltip tooltip-bottom-right">No olvides confirmar tu contraseña</b> </label>
              </section>
            </fieldset>

            <fieldset>
              <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="firstname" placeholder="Nombre">
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="lastname" placeholder="Apellido">
                  </label>
                </section>
              </div>

              <div class="row">
                <section class="col col-6">
                  <label class="select">
                    <select name="gender">
                      <option value="0" selected disabled>Genero</option>
                      <option value="1">Hombre</option>
                      <option value="2">Mujer</option>
                      <option value="3">No definido</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-6">
                  <label class="input"> <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="request" placeholder="Request activation on" class="datepicker" data-dateformat="dd/mm/yy">
                  </label>
                </section>
              </div>

              <section>
                <label class="checkbox">
                  <input type="checkbox" name="subscription" id="subscription">
                  <i></i>Quiero recibir noticias y ofertas especiales</label>
                <label class="checkbox">
                  <input type="checkbox" name="terms" id="terms" [(ngModel)]="termsAgreed">
                  <i></i>Estoy de acuerdo con los <a href="#" (click)="openModal($event, termsModal)"> Terminos y condiciones </a></label>
              </section>
            </fieldset>
            <footer>
              <button (click)="register($event)" class="btn btn-primary">
                Register
              </button>
            </footer>

            <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div>
          </form>

        </div>
        <p class="note text-center">*FREE Registration ends on October 2015.</p>
        
      </div>
    </div>
  </div>

</div>


<!-- <ng-container  *ngComponentOutlet="TermsModalComponent"></ng-container> -->

<ng-template #termsModal>
  <smart-terms-modal (agree)="onTermsAgree()" (close)="onTermsClose()"></smart-terms-modal>

</ng-template>
