<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva requisicion</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos generales</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>NIT de la empresa <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs"  [(ngModel)]="formData.NIT_EMPRESA" id="NIT_EMPRESA" name="NIT_EMPRESA" #NIT_EMPRESA="ngModel" placeholder="NIT Empresa" disabled>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Razón social <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" #RAZON_SOCIAL="ngModel" placeholder="Razòn social" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Direccion proveedor<span class="required">*</span></label>
                                            <input type="number" class="form-control input-xs" [(ngModel)]="formData.DIRECCION" name="DIRECCION" id="DIRECCION" name="DIRECCION" #DIRECCION="ngModel" placeholder="Comprobante" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="date" [(ngModel)]="formData.FECHA" required="" id="FECHA" name="FECHA" #FECHA="ngModel" placeholder="Celular">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                <h4 class="header">Detalle requisicion
                                                        <a class="btn btn-xs btn-success">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </h4>
                                                    <br>
                                                    <div class="row-fluid">
                                                        <section class="col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Codigo producto</th>
                                                                            <th>Descripcion</th>
                                                                            <th>Unidad de venta</th>
                                                                            <th class="cantidad">Peso</th>
                                                                            <th class="cantidad">Cantidad</th>
                                                                            <th class="cantidad">Tonelaje</th>
                                                                            <th width="50">Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <!-- <tr ng-repeat="item in productosReq track by $index" style="cursor:pointer;" ng-class="{selected: item.selected == true}">
                                                                            <td>{{item.codins}}</td>
                                                                            <td>{{item.nomins}}</td>
                                                                            <td>{{item.nommed}}</td>
                                                                            <td>{{item.peso | number:2}}</td>
                                                                            <td>
                                                                                <input type="text" class="input-xs input-right" ui-number-mask="0" ng-model="item.canped" ng-change="recalcular()" focus-null=item.canped>
                                                                            </td>
                                                                            <td>
                                                                                <b>{{(item.peso*item.canped)/1000| number:2}}</b>
                                                                            </td>
                                                                            <td>
                                                                                <button class="btn btn-danger btn-xs" ng-click="eliminarProducto(item.codins)">
                                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr> -->
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <td colspan="5"></td>
                                                                            <td colspan="2">
                                                                                <b>{{totalTonelaje| number:2}}</b>
                                                                            </td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </section>
                                                    </div>
                                        </fieldset>
                                </div>
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar requisicion</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

