<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva pedido</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos básicos</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                
                                <!-- <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>NIT de la empresa <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs"  [(ngModel)]="formData.NIT_EMPRESA" id="NIT_EMPRESA" name="NIT_EMPRESA" #NIT_EMPRESA="ngModel" placeholder="NIT Empresa" disabled>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Razón social <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" #RAZON_SOCIAL="ngModel" placeholder="Razòn social" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="date" [(ngModel)]="formData.FECHA" required="" id="FECHA" name="FECHA" #FECHA="ngModel" placeholder="Celular">
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>N° Comprobante <span class="required">*</span></label>
                                            <input type="number" class="form-control input-xs" [(ngModel)]="formData.NUMERO_COMPROBANTE" name="NUMERO_COMPROBANTE" id="NUMERO_COMPROBANTE" name="NUMERO_COMPROBANTE" #NUMERO_COMPROBANTE="ngModel" placeholder="Comprobante">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Identificación cliente <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.IDENTIFICACION_CLIENTE" id="IDENTIFICACION_CLIENTE" name="IDENTIFICACION_CLIENTE" #IDENTIFICACION_CLIENTE="ngModel" placeholder="Identificación" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Nombres cliente <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.NOMBRES_CLIENTE" id="NOMBRES_CLIENTE" name="NOMBRES_CLIENTE" #NOMBRES_CLIENTE="ngModel" placeholder="Nombre del cliente"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Telefono <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.TELEFONO" id="TELEFONO" name="TELEFONO" #TELEFONO="ngModel" placeholder="Telefono"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Direcciòn <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DIRECCION" id="DIRECCION" name="DIRECCION" #DIRECCION="ngModel" placeholder="Direccion"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Departamento <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DEPARTAMENTO" id="DEPARTAMENTO" name="DEPARTAMENTO" #DEPARTAMENTO="ngModel" placeholder="Departamento"  disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Ciudad <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.CIUDAD" id="CIUDAD" name="CIUDAD" #CIUDAD="ngModel" placeholder="Ciudad"  disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs"> 
                                            <label>Almacen <span class="required">*</span></label>
                                            <select type="text" class="form-control input-xs" [(ngModel)]="formData.ALMACEN"  name="ALMACEN" id="ALMACEN" #ALMACEN="ngModel" placeholder="Almacen" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN">{{item.NOMBRE}}</option>
                                            </select>    
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs"> 
                                            <label>Vendedor <span class="required">*</span></label>
                                            <select type="text" class="form-control input-xs" placeholder="Nombre" [(ngModel)]="formData.VENDEDOR"  name="VENDEDOR" id="VENDEDOR" #VENDEDOR="ngModel" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_VENDEDOR">{{item.NOMBRE}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs"> 
                                            <label>Modalidad de pago <span class="required">*</span></label>
                                            <select  class="form-control input-xs"  [(ngModel)]="formData.MODALIDAD_PAGO" name="MODALIDAD_PAGO" id="MODALIDAD_PAGO" #MODALIDAD_PAGO="ngModel">
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_MODALIDAD_PAGO">{{item.NOMBRE}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs"> 
                                            <label>Fecha <span class="required">*</span></label>
                                            <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA" name="FECHA" id="FECHA" #FECHA="ngModel">
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs"> 
                                            <label>Comprobante <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs"  [(ngModel)]="formData.NUMERO_COMPROBANTE" name="NUMERO_COMPROBANTE" id="NUMERO_COMPROBANTE" #NUMERO_COMPROBANTE="ngModel">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <h4 class="header">Productos </h4>
                                        <br>
                                        <div class="row">
                                            <div class="col col-md-12  col-xs-12  col-sm-12">
        
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" colspan="2">Producto</th>
                                                                <th class="text-center" colspan="8">Valores</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <!-- <th>Sublinea</th>
                                                                <th>Unidad de venta</th> -->
                                                                <th width="60" class="cantidad">Cantidad</th>
                                                                <th width="60">Desc/Unidad</th>
                                                                <th width="60">Añad/Unidad</th>
                                                                <!-- <th width="60">Bruto</th>
                                                                <th width="100">Descuento</th> -->
                                                                <th width="60">Iva</th>
                                                                <th width="60">Unitario</th>
                                                                <th width="100">Total</th>
                                                                <th width="100">Peso (T)</th>
                                                                <th width="30">
                                                                    <a ng-show="pedidos.concepto != 'EP'" data-toggle="modal" data-target="#modalproductos" class="btn btn-xs btn-success">
                                                                        <i class="fa fa-plus-square"></i>
                                                                    </a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="item in productosPD track by $index">
                                                                <td>{{item.codins}}</td>
                                                                <td>{{item.nomins}}</td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right input-green-light" ng-change="cantidad()" ng-model="item.canform" ui-number-mask="0"
                                                                        focus-null=item.canform>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right input-green-light" ng-change="cantidad()" ng-model="item.desitem" ui-money-mask="0"
                                                                        focus-null=item.desitem>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right input-green-light" ng-change="cantidad()" ng-model="item.agritem" ui-money-mask="0"
                                                                        focus-null=item.agritem>
                                                                </td>
                                                                <td class="text-right">{{item.iva}}</td>
                                                                <td class="text-right precioF">
                                                                    <p ng-if="pedidos.tippag == 1">{{item.valuni_10 | currency}}</p>
                                                                    <p ng-if="pedidos.tippag == 2">{{item.valuni_20 | currency}}</p>
                                                                    <p ng-if="pedidos.tippag == 3">{{item.valuni_30 | currency}}</p>
                                                                </td>
                                                                <td class="text-right">
                                                                    <p ng-if="pedidos.tippag == 1"> {{item.valuni_10 * item.canform| currency}}</p>
                                                                    <p ng-if="pedidos.tippag == 2"> {{item.valuni_20 * item.canform| currency}}</p>
                                                                    <p ng-if="pedidos.tippag == 3"> {{item.valuni_30 * item.canform| currency}}</p>
                                                                </td>
                                                                <td class="text-right">{{(item.canform * item.peso)/1000 | number:2}} </td>
                                                                <td>
                                                                    <a class="btn btn-xs btn-danger" ng-click="eliminarProducto(item.codins)">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                </td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col col-md-6  col-xs-12 col-sm-12" style="margin-bottom: 5px;margin-top: 5px;">
                                                <h2 class="text-center" style="margin:0;">Cupo credito</h2>
                                                <br>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-blue">
                                                    <h3 style="margin: 0;">Autorizado</h3>
                                                    <small>{{cupoCredito.AUTORIZADO | currency}}</small>
                                                    <input type="hidden" value="{{cupoCredito.AUTORIZADO}}" id="cupo_autorizado">
                                                </blockquote>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-red">
                                                    <h3 style="margin: 0;">Utilizado</h3>
                                                    <small>{{cupoCredito.UTILIZADO | currency}}</small>
                                                </blockquote>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-orange">
                                                    <h3 style="margin: 0;">Pendiente</h3>
                                                    <small>{{cupoCredito.PENDIENTE | currency}}</small>
                                                </blockquote>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-green">
                                                    <h3 style="margin: 0;">Disponible</h3>
                                                    <small>{{cupoCredito.DISPONIBLE | currency}}</small>
                                                </blockquote>
                                                <br>
                                                <br>
                                                <h2 class="text-center" style="margin:0;">Score</h2>
                                                <br>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-purple">
                                                    <h3 style="margin: 0;">Clasificacion</h3>
                                                    <small>
                                                        <strong>{{terceroScore.CLASIFICACION}}</strong>
                                                    </small>
                                                </blockquote>
                                                <blockquote class="col col-md-3  col-xs-3  col-sm-3 bloke-purple">
                                                    <h3 style="margin: 0;">Puntaje</h3>
                                                    <small>{{terceroScore.TOTAL_PUNTAJE }}</small>
                                                </blockquote>
                                            </div>
                                            <section class="col col-md-6 col-xs-6 col-sm-6">
                                                <table class="table table-bordered resumen_form">
                                                    <thead>
                                                        <tr>
                                                            <th>RESUMEN</th>
                                                            <th class="text-right">1 - 10</th>
                                                            <th class="text-right">11 - 20</th>
                                                            <th class="text-right">21 - 30 </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Subtotal</th>
                                                            <th class="text-right" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO == 1}">{{valoresPedido.SUBTOTAL1 | currency}}</th>
                                                            <th class="text-right" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO == 2}">{{valoresPedido.SUBTOTAL2 | currency}}</th>
                                                            <th class="text-right backg_pedidos_total_Formpedido" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==3}">{{valoresPedido.SUBTOTAL3 | currency}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Descuentos</th>
                                                            <th class="text-right text-danger" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==1}">{{valoresPedido.DESCUENTO1 | currency}}</th>
                                                            <th class="text-right text-danger" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==2}">{{valoresPedido.DESCUENTO2 | currency}}</th>
                                                            <th class="text-right text-danger backg_pedidos_total_Formpedido" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==3}">{{valoresPedido.DESCUENTO3 | currency}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Cargos</th>
                                                            <th class="text-right text-primary" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==1}">{{valoresPedido.CARGOS1 | currency}}</th>
                                                            <th class="text-right text-primary" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==2}">{{valoresPedido.CARGOS2 | currency}}</th>
                                                            <th class="text-right text-primary backg_pedidos_total_Formpedido" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==3}">{{valoresPedido.CARGOS3 | currency}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Iva</th>
                                                            <th class="text-right" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==1}">{{valoresPedido.IVA1 | currency}}</th>
                                                            <th class="text-right" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==2}">{{valoresPedido.IVA2 | currency}}</th>
                                                            <th class="text-right backg_pedidos_total_Formpedido" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==3}">{{valoresPedido.IVA3 | currency}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>Total</th>
                                                            <th class="text-right text-success" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==1}">{{valoresPedido.TOTAL1 | currency}}</th>
                                                            <th class="text-right text-success" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==2}">{{valoresPedido.TOTAL2 | currency}}</th>
                                                            <th class="text-right text-success backg_pedidos_total_Formpedido" [ngClass]="{'backg_pedidos_total_Formpedido_acordado':formData.MODALIDAD_PAGO==3}">{{valoresPedido.TOTAL3 | currency}}</th>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Pronto pago</th>
                                                            <th class="text-right text-primary">{{descuento10 | currency}}</th>
                                                            <th class="text-right text-primary">{{descuento20 | currency}}</th>
                                                            <th></th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <h4 class="header">Comentarios</h4>
                                            <br>
                                            <textarea class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" #DESCRIPCION="ngModel" rows="3" placeholder="Escribe aqui la descripcion" ></textarea>
                                            <br>
                                    </div>
                                </div>
                              
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar recibo de caja</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

