<div class="table-responsive row">

  <div class="col-md-12">
      <dx-data-grid #gridFacturas id="gridFacturas" (onRowClick)="selectionChangedHandler($event)" [dataSource]="facturas" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
          <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
          <dxo-header-filter></dxo-header-filter>
          <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
          <dxo-export [enabled]="true" fileName="Productos" [allowExportSelectedData]="true"></dxo-export>
          <dxo-group-panel [visible]="true"></dxo-group-panel>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
          </dxo-pager>
      
          <dxi-column dataField="codter" caption="Identifificación"></dxi-column>
          <dxi-column dataField="nomter" caption="Nombre de tercero"></dxi-column>
          <dxi-column dataField="fecha" caption="Fecha"></dxi-column>
          <dxi-column dataField="forma_pago" caption="Forma de pago"></dxi-column>
          <dxi-column dataField="subtotal" caption="Subtotal" format="$ #,##0.##"></dxi-column>
          <dxi-column dataField="valor_iva" caption="Iva" format="$ #,##0.##"></dxi-column>
          <dxi-column dataField="total" caption="Total" format="$ #,##0.##"></dxi-column>
      </dx-data-grid>
  </div>

</div>