<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva nota a proveedor</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos básicos</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha <span class="required">*</span></label>
                                            <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA" name="FECHA" id="FECHA" name="FECHA" #FECHA="ngModel" >
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Nit proveedor <span class="required">*</span></label>
                                            <input class="form-control input-xs" [(ngModel)]="formData.DOCUMENTO" id="NIT_PROVEEDOR" name="NIT_PROVEEDOR" #NIT_PROVEEDOR="ngModel" placeholder="Documento" required>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Razón social <span class="required">*</span></label>
                                            <input class="form-control input-xs" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" placeholder="Razón social" #RAZON_SOCIAL="ngModel" required>  
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Teléfono proveedor <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="text" [(ngModel)]="formData.TELEFONO_PROVEEDOR" required="" id="TELEFONO_PROVEEDOR" name="TELEFONO_PROVEEDOR" #TELEFONO_PROVEEDOR="ngModel" placeholder="Teléfono de proveedor">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label> Concepto <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="text" [(ngModel)]="formData.CONCEPTO" id="CONCEPTO" name="CONCEPTO" #CONCEPTO="ngModel" placeholder="Concepto" required>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Descripción <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción">
                                        </div>
                                    </div>
                                    <section class="col-xs-4">
                                        <br>
                                        <p>
                                            <strong>Cuenta bruto:
                                                <i>{{notas.CUECON_BRUTO}}</i>
                                            </strong> - {{notas.NOMCUE_BRUTO}}
                                        </p>
                                        <p>
                                            <strong>Cuenta total:
                                                <i>{{notas.CUECON_TOTAL}}</i>
                                            </strong> - {{notas.NOMCUE_TOTAL}}
                                        </p>
                                    </section>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Documento <span class="required">*</span></label>
                                            <input class="form-control input-xs" [(ngModel)]="formData.DOCUMENTO" id="DOCUMENTO" name="DOCUMENTO" #DOCUMENTO="ngModel" placeholder="Documento" required>
                                        </div>    
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <h4 class="header">Detalle de nota
                                                <label style="float: right;">
                                                    <input type="checkbox" ng-checked="selecct == true" ng-model="selecct" class="checkbox style-0" checked="checked">
                                                    <span> Seleccionados</span>
                                                </label>
                                            </h4>
                                            <br>
            
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" colspan="7">Factura</th>
                                                        <th class="text-center" colspan="3">Nota</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Factura</th>
                                                        <th>Fecha</th>
                                                        <th>Fecha vencimiento</th>
                                                        <th>Valor total</th>
                                                        <th>Abonado</th>
                                                        <th>Devoluciones</th>
                                                        <th>Saldo</th>
                                                        <th class="text-right">Valor nota</th>
                                                        <th class="text-right">Valor iva</th>
                                                        <th class="text-right">Nuevo saldo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr ng-repeat="item in facturas_pendientes track by $index" ng-class="{'facSelect':item.abonar>0}" ng-hide="selecct && !item.abonar>0">
                                                        <td>{{item.consecutivo}}</td>
                                                        <td>{{item.fecfac | date:"dd/MM/yyyy"}}</td>
                                                        <td>{{item.fecven | date:"dd/MM/yyyy"}}</td>
                                                        <td class="val">{{item.valfac | currency}}</td>
                                                        <td class="val">{{item.abofac | currency:"$":0}}</td>
                                                        <td class="val">{{item.valdev | currency:"$":0}}</td>
                                                        <td class="val">{{(item.saldo ) | currency:"$":0}}</td>
                                                        <td class="val" style="width: 120px">
                                                            <input type="text" focus-null=item.abonar ui-money-mask="0" style="width: 120px" min="0" class="text-right" ng-model="item.abonar"
                                                                ng-change="recalcular()">
                                                        </td>
                                                        <td class="val" style="width: 120px">
                                                            <input type="text" focus-null=item.abonar_iva ui-money-mask="0" style="width: 120px" min="0" class="text-right" ng-model="item.abonar_iva"
                                                                ng-change="recalcular()">
                                                        </td>
                                                        <td class="val">{{(item.saldo-(item.abonar+item.abonar_iva)) | currency:"$":0}}</td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                            <br>
                                        </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <div class="row">
                                            <section class="col col-md-12">
                                                <h4 class="header">Comprobantes a generar </h4>
                                                <br>
                                                <div class="row-fluid">
        
                                                    <table class="table table-bordered resumen_form">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Detalle</th>
                                                                <th class="text-right">Debito</th>
                                                                <th class="text-right">Credito</th>
                                                                <th class="text-right">Base</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="comprob in comprobantes_nota track by $index">
                                                                <td>{{comprob.codcue}}</td>
                                                                <td>{{comprob.nomcue}}</td>
                                                                <td>{{comprob.detalle}}</td>
                                                                <td class="text-right">{{comprob.debito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.credito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.base_retencion | currency:"$":0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="4" class="text-right">Diferencia</th>
                                                                <th class="text-right">{{comprobante_totaldebito - comprobante_totalcredito | currency:"$":0}}</th>
                                                                <th>
                                                                    <a style="padding: 3px;" ng-click="cargar_comprobantes()" class="btn btn-default  center-block txt-color-purple">
                                                                        <i class="fa fa-refresh fa-lg"></i>
                                                                    </a>
                                                                </th>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
        
                                            </section>
                                            <section class="col col-md-6">
        
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                          <h4 class="header">Comentarios</h4>
                                          <br>
                                          <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                          <br>
                                    </div>
                                    <div class="col-sm-4" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <h4 class="header">Resumen nota</h4>
                                        <br>
                                        <br>
                                        <table class="table table-bordered resumen_form">
                                            <thead>
                                                <tr>
                                                    <th>Resumen del nota</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Neto nota</th>
                                                    <th class="text-right">{{notas.ABONOS | currency}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Iva nota</th>
                                                    <th class="text-right">{{notas.ABONOS_IVA | currency}}</th>
                                                </tr>
                                                <tr>
                                                    <th>Valor nota</th>
                                                    <th class="text-right text-success">{{notas.ABONOS+notas.ABONOS_IVA | currency }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">&nbsp;</th>
                                                </tr>
                                                <tr>
                                                    <th>Nuevo saldo</th>
                                                    <th class="text-right text-info">{{notas.SALDO_NUEVO | currency}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar nota</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

