<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva nota a proveedor</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos básicos</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Codigo de factura <span class="required">*</span></label>
                                            <div class="input-group form-group form-group-xs">
                                                <input class="form-control input-xs" type="text" [(ngModel)]="formData.CODIGO_FACTURA" required="" id="CODIGO_FACTURA" name="CODIGO_FACTURA" #CODIGO_REMISION="ngModel" placeholder="Codigo remisión" >
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary btn-xs" style="font-size: 13.4px;" type="button">
                                                            <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Respondable <span class="required">*</span></label>
                                            <input class="form-control input-xs" [(ngModel)]="formData.DOCUMENTO" id="NIT_PROVEEDOR" name="NIT_PROVEEDOR" #NIT_PROVEEDOR="ngModel" placeholder="Documento" required disabled>
                                        </div>    
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="date" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" placeholder="Razón social" #RAZON_SOCIAL="ngModel" required disabled>  
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Identificación cliente <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="text" [(ngModel)]="formData.CONCEPTO" id="CONCEPTO" name="CONCEPTO" #CONCEPTO="ngModel" placeholder="Concepto" required  disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Nombres cliente <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Teléfono cliente<span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Dirección cliente <span class="required">*</span></label>
                                            <input class="form-control input-xs" [(ngModel)]="formData.DOCUMENTO" id="DOCUMENTO" name="DOCUMENTO" #DOCUMENTO="ngModel" placeholder="Documento" required disabled>
                                        </div>    
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha factura<span class="required">*</span></label>
                                            <input class="form-control input-xs" type="date" [(ngModel)]="formData.CONCEPTO" id="CONCEPTO" name="CONCEPTO" #CONCEPTO="ngModel" placeholder="Concepto" required disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="form-group form-group-xs">
                                            <label>Días <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha ultimo pago<span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-1">
                                        <div class="form-group form-group-xs">
                                            <label>Días <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Plazo acordado <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Vendedor <span class="required">*</span></label>
                                            <input type="text" class="form-control input-xs" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" name="DESCRIPCION" #DESCRIPCION="ngModel" placeholder="Descripción" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <fieldset  style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <h4 class="header">Productos
                                        </h4>
                                        <br>
                                        <div class="row-fluid">
                                            <section class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2" class="text-center">Generales</th>
                                                                <th colspan="6" class="text-center">Cantidades</th>
                                                                <!-- <th colspan="1" class="text-center"></th> -->
                                                            </tr>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th class="cantidad">Vlr. Unidad</th>
                                                                <th class="cantidad">Facturada</th>
                                                                <th class="cantidad">Devuelta</th>
                                                                <th class="cantidad">Pendiente</th>
                                                                <th>
                                                                    <p style="width:40px;">Devolver</p>
                                                                </th>
                                                                <th class="cantidad">Subtotal</th>
                                                                <!-- <th>Acciones</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="item in productosPD track by $index">
                                                                <td>{{item.codins}}</td>
                                                                <td>{{item.nomins}}</td>
                                                                <td class="text-right" ng-if="dataFac.data.tipcalc==1">{{item.val_lista
                                                                    | currency}} </td>
                                                                <td class="text-right" ng-if="dataFac.data.tipcalc==2">{{item.val_negociado
                                                                    | currency}} </td>
                                                                <td class="text-right">{{item.canfac}} </td>
                                                                <td class="text-right">{{item.devins}} </td>
                                                                <td class="text-right">{{item.devfalt_pedido}} </td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right"
                                                                        ui-number-mask="0" ng-change="cantidad()" ng-model="item.canform"
                                                                        focus-null=item.canform>
                                                                </td>
                                                                </td>
                                                                <td class="text-right" ng-if="dataFac.data.tipcalc==1">{{item.canform
                                                                    * item.val_lista | currency}} </td>
                                                                <td class="text-right" ng-if="dataFac.data.tipcalc==2">{{item.canform
                                                                    * item.val_negociado | currency}} </td>
                                                                <td>
                                                                    <a class="btn btn-xs btn-danger" ng-click="eliminarProducto(item.codins)">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                </td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </section>
                                        </div>
                                        <br>
                                    </fieldset>
        
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;" >
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 class="header">Comprobantes a generar </h4>
                                                <br>
                                                <div class="row-fluid">
        
                                                    <table class="table table-bordered resumen_form">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Detalle</th>
                                                                <th class="text-right">Debito</th>
                                                                <th class="text-right">Credito</th>
                                                                <th class="text-right">Base</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="comprob in comprobantes_devolucion track by $index">
                                                                <td>{{comprob.codcue}}</td>
                                                                <td>{{comprob.nomcue}}</td>
                                                                <td>{{comprob.detalle}}</td>
                                                                <td class="text-right">{{comprob.debito | currency}}</td>
                                                                <td class="text-right">{{comprob.credito | currency}}</td>
                                                                <td class="text-right">{{comprob.base_retencion |
                                                                    currency}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="4" class="text-right">Diferencia</th>
                                                                <th class="text-right">{{comprobante_totaldebito -
                                                                    comprobante_totalcredito | currency}}</th>
                                                                <th>
                                                                    <a style="padding: 3px;" ng-click="cargar_comprobantes()"
                                                                        class="btn btn-default  center-block txt-color-purple">
                                                                        <i class="fa fa-refresh fa-lg"></i>
                                                                    </a>
                                                                </th>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <section class="col-md-4">
                                                <h4 class="header">Comentarios</h4>
                                                <br>
                                                <section>
                                                    <label class="textarea">
                                                        <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                                    </label>
                                                </section>
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">

                                    <div class="col col-md-4">
                                        <img class="center-block" style="padding:10px;width: 50%;background: #0080006b;"
                                            src="./../../assets/img/iconos/devolucion-01.png" data-holder-rendered="true"
                                            ng-if="fuente=='DC'">
                                        <!-- img class="center-block" style="padding:10px;width: 50%;background: #ffa5008f;"
                                            src="./../../assets/img/iconos/devolucion-02.png" data-holder-rendered="true"
                                            ng-if="fuente=='DE'">
                                        <img class="center-block" style="padding:10px;width: 50%;background: #2b95ed;"
                                            src="./../../assets/img/iconos/devolucion-03.png" data-holder-rendered="true"
                                            ng-if="fuente=='DR'"> -->
                                    </div>
                                    <div class="col col-md-4 ">
                                        <h4 class="header">Factura</h4>
                                        <br>
                                        <section class="row-fluid">
                                            <table class="table table-bordered resumen_form">
                                                <thead>
                                                    <tr>
                                                        <th>RESUMEN</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Valor</th>
                                                        <th class="text-right">{{dataFac.valor | currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Abonos</th>
                                                        <th class="text-right">
                                                            <!-- <span class="text-right text-default" tooltips tooltip-template="Recibos" tooltip-side="bottom">({{dataFac.valor_pagado | currency}}) </span> -->
                                                            <span class="text-danger" tooltips tooltip-template="Abono a factura"
                                                                tooltip-side="bottom">{{dataFac.abonos |
                                                                currency}}</span>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th>Devoluciones</th>
                                                        <th class="text-right text-danger">{{dataFac.devoluciones|
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Saldo</th>
                                                        <th class="text-right">
                                                            <span class="text-right text-default" tooltips
                                                                tooltip-template="Valor negociado" tooltip-side="bottom">({{dataFac.saldo_hoy
                                                                | currency}}) </span>
                                                            <span class=" text-primary" tooltips tooltip-template="Valor factura"
                                                                tooltip-side="bottom">{{dataFac.saldo |
                                                                currency}}</span>
                                                        </th>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th>Saldo hoy</th>
                                                        <th class="text-right text-success">{{dataFac.saldo_hoy | currency}}</th>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </section>
                                    </div>
                                    <div class="col col-md-4 ">
                                        <h4 class="header">Resumen Devolucion</h4>
                                        <br>
                                        <section class="row-fluid">
                                            <table class="table table-bordered resumen_form">
                                                <thead>
                                                    <tr>
                                                        <th>RESUMEN</th>
                                                        <th class="text-right">Lista</th>
                                                        <th class="text-right">Negociado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Subtotal</th>
                                                        <th class="text-right text-primary">{{devolucion.subtotal|
                                                            currency}}</th>
                                                        <th class="text-right text-primary">{{devolucion.subtotal_neg|
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Descuentos</th>
                                                        <th class="text-right text-danger">{{devolucion.descuentos|
                                                            currency}}</th>
                                                        <th class="text-right text-danger">{{devolucion.descuentos_neg|
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Cargos</th>
                                                        <th class="text-right text-primary">{{devolucion.cargos|
                                                            currency}}</th>
                                                        <th class="text-right text-primary">{{devolucion.cargos_neg|
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Iva</th>
                                                        <th class="text-right text-primary">{{devolucion.iva|
                                                            currency}}</th>
                                                        <th class="text-right text-primary">{{devolucion.iva_neg|
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Retefuente</th>
                                                        <th class="text-right text-danger">{{devolucion.retefuente |
                                                            currency}}</th>
                                                        <th class="text-right text-danger">{{devolucion.retefuente_neg
                                                            | currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Reteica</th>
                                                        <th class="text-right text-danger">{{devolucion.reteica |
                                                            currency}}</th>
                                                        <th class="text-right text-danger">{{devolucion.reteica_neg |
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Reteiva</th>
                                                        <th class="text-right text-danger">{{devolucion.reteiva |
                                                            currency}}</th>
                                                        <th class="text-right text-danger">{{devolucion.reteiva_neg |
                                                            currency}}</th>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th>Ajuste al peso</th>
                                                        <th class="text-right">{{devolucion.ajuste_peso | currency}}</th>
                                                    </tr> -->
                                                    <tr>
                                                        <th>Total devolución</th>
                                                        <th class="text-right text-success">{{devolucion.total |
                                                            currency}}</th>
                                                        <th class="text-right text-success">{{devolucion.total_neg |
                                                            currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Nuevo saldo</th>
                                                        <th class="text-right text-default">{{devolucion.nuevo_saldo |
                                                            currency}}</th>
                                                        <th class="text-right text-default">{{devolucion.nuevo_saldo_neg
                                                            | currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">&nbsp;</th>
                                                    </tr>
                                                    <!-- <tr>
                                                        <th>Valor (HOY)</th>
                                                        <th class="text-right text-danger">{{devolucion.valor_hoy | currency}}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Nuevo saldo(Hoy)</th>
                                                        <th class="text-right text-danger">{{devolucion.nuevo_saldo_hoy | currency}}</th>
                                                    </tr> -->
                                                    <tr>
                                                        <th>Saldo favor(Anticipos)</th>
                                                        <th class="text-right text-success" colspan="2">{{devolucion.saldo_favor
                                                            | currency}}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </section>
                                    </div>
                                </div>
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar nota</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

