<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva inventario de almacen</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos generales</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Tipo<span class="required">*</span></label>
                                            <select type="number" class="form-control input-xs" [(ngModel)]="formData.TIPO" name="TIPO" id="TIPO" name="TIPO" #TIPO="ngModel">
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_TIPO">{{item.NOMBRE}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="date" [(ngModel)]="formData.FECHA" required="" id="FECHA" name="FECHA" #FECHA="ngModel">
                                        </div>
                                    </div>
                                    <div class="col-xs-3" *ngIf="formData.TIPO == 1 || formData.TIPO == 3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen entrada <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN_ENTRADA" id="ALMACEN_ENTRADA" name="ALMACEN_ENTRADA" #ALMACEN_ENTRADA="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3" *ngIf="formData.TIPO == 1 || formData.TIPO == 3">
                                        <div class="form-group form-group-xs">
                                            <label>Concepto entrada<span class="required">*</span></label>
                                            <select type="text" class="form-control input-xs"  [(ngModel)]="formData.CONCEPTO_ENTRADA" id="CONCEPTO_ENTRADA" name="CONCEPTO_ENTRADA" #CONCEPTO_ENTRADA="ngModel" placeholder="NIT Empresa">
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CONCEPTO">{{item.NOMBRE}}</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3" *ngIf="formData.TIPO == 2 || formData.TIPO == 3">
                                            <div class="form-group form-group-xs">
                                                <label> Almacen salida <span class="required">*</span></label>
                                                <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN_SALIDA" id="ALMACEN_SALIDA" name="ALMACEN_SALIDA" #ALMACEN_SALIDA="ngModel" required>
                                                        <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-3" *ngIf="formData.TIPO == 2 || formData.TIPO == 3">
                                            <div class="form-group form-group-xs">
                                                <label>Concepto salida<span class="required">*</span></label>
                                                <select type="text" class="form-control input-xs"  [(ngModel)]="formData.CONCEPTO_SALIDA" id="CONCEPTO_SALIDA" name="CONCEPTO_SALIDA" #CONCEPTO_SALIDA="ngModel" placeholder="NIT Empresa">
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CONCEPTO">{{item.NOMBRE}}</option>
                                                </select>
                                            </div>    
                                        </div>
                                </div>
                                <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                <h4 class="header">Productos
                                                        <a ng-show="pedidos.concepto != 'EP'" data-toggle="modal" data-target="#modalproductos"
                                                            class="btn btn-xs btn-success">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </h4>
                                                    <br>
                                                    <div class="row">
                                                        <section class="col col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Codigo</th>
                                                                            <th>Nombre</th>
                                                                            <th>Proveedor</th>
                                                                            <th>En inventario</th>
                                                                            <th width=100>Cantidad</th>
                                                                            <th>Costo</th>
                                                                            <th>Subtotal</th>
                                                                            <th width=60>Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <!-- <tr ng-repeat="item in productos_mov track by $index">
                                                                            <td>{{item.codins}}</td>
                                                                            <td>{{item.nomins}}</td>
                                                                            <td>{{item.nomter}}</td>
                                                                            <td class="text-right">{{item.caninv}}</td>
                                                                            <td>
                                                                                <input type="text" focus-null=item.cantidad ui-number-mask="0"
                                                                                    style="width: 90px" min="0" class="text-right" ng-model="item.cantidad"
                                                                                    ng-change="recalcular()">
                                                                            </td>
                                                                            <td class="text-right">{{item.cosins | currency:"$":0}}</td>
                                                                            <td class="text-right">{{item.cantidad * item.cosins |
                                                                                currency:"$"}}</td>
                                                                            <td>
                                                                                <a class="btn btn-xs btn-danger" ng-click="eliminarProducto($index)">
                                                                                    <i class="fa fa-remove"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr> -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h4 class="header">Comprobantes a generar </h4>
                                                            <br>
                                                            <div class="row-fluid">
                                                                <table class="table table-bordered table-condensed zoom resumen_form">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Codigo</th>
                                                                            <th>Nombre</th>
                                                                            <th>Detalle</th>
                                                                            <th class="text-right">Debito</th>
                                                                            <th class="text-right">Credito</th>
                                                                            <th class="text-right">Base</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <!-- <tr ng-repeat="comprob in comprobantes_compra track by $index">
                                                                            <td>{{comprob.codcue}}</td>
                                                                            <td>{{comprob.nomcue}}</td>
                                                                            <td>{{comprob.detalle}}</td>
                                                                            <td class="text-right">{{comprob.debito | currency:"$":0}}</td>
                                                                            <td class="text-right">{{comprob.credito | currency:"$":0}}</td>
                                                                            <td class="text-right">{{comprob.base_retencion |
                                                                                currency:"$":0}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th colspan="4" class="text-right">Diferencia</th>
                                                                            <th class="text-right">{{comprobante_totaldebito -
                                                                                comprobante_totalcredito | currency:"$":0}}</th>
                                                                            <th>
                                                                                <a style="padding: 3px;" ng-click="cargar_comprobantes()"
                                                                                    class="btn btn-default  center-block txt-color-purple">
                                                                                    <i class="fa fa-refresh fa-lg"></i>
                                                                                </a>
                                                                            </th>
                                                                        </tr> -->
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <section class="col-sm-4">
                                                            <table class="table table-bordered resumen_form">
                                                                <thead>
                                                                    <tr>
                                                                        <th>RESUMEN</th>
                                                                        <th class="text-right"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Subtotal</th>
                                                                        <th class="text-right">{{movimiento.SUBTOTAL | currency }}</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Iva</th>
                                                                        <th class="text-right">{{movimiento.TOTAL_IVA | currency }}</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total</th>
                                                                        <th class="text-right text-success">{{movimiento.TOTAL | currency }}</th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </section>
                                                    </div>
                                        </fieldset>
                                </div>
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

