<ngx-smart-modal #base_form_modal identifier="base_form_modal" [closable]="false" [escapable]="false"
  [dismissable]="false" customClass="modal-smart-40 modal-smart-top-25">

  <form #almacenForm="ngForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">
        <span *ngIf="c_accion==1">Nuevo almacen</span>
        <span *ngIf="c_accion==2">Editar almacen</span>
      </h4>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal"
        (click)="cerrar(); almacenForm.reset()">Cerrar
      </button>
      <button type="button" class="btn btn-success" *ngIf="c_accion==1" [disabled]="!almacenForm.valid"
        (click)="guardar(almacenForm,almacenForm);">
        <i class="fa fa-save"></i> Guardar almacen
      </button>
      <button type="button" class="btn btn-primary" *ngIf="c_accion==2" [disabled]="!almacenForm.valid"
        (click)="editar(almacenForm,almacenForm);">
        <i class="fa fa-save"></i> Editar almacen
      </button>
    </div>
  </form>

</ngx-smart-modal>