<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva egreso</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <!-- <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="etiquetarapida" *ngIf="TipoEgr == 1">Modo manual</h4>
                                        <h4 class="etiqueta" *ngIf="TipoEgr == 0"> Modo automatico</h4>
                                        <label class="switch">
                                            <input type="checkbox" (click)="cambio_tipo_egreso($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="TipoEgr">
                                            <div class="slider round" style="height: 20px;"></div>
                                        </label>
                                    </div>
                                </div> -->
                                <!-- Recibo de caja info-->
                                <div class="row" style=" padding-top: 1%;">
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>NIT de la empresa <span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm"  [(ngModel)]="formData.NIT_EMPRESA" id="NIT_EMPRESA" name="NIT_EMPRESA" #NIT_EMPRESA="ngModel" placeholder="NIT Empresa" disabled>
                                        </div>    
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Razón social <span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" #RAZON_SOCIAL="ngModel" placeholder="Razòn social" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-sm" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Cuenta bancaria <span class="required">*</span></label>
                                            <select class="form-control input-sm" [(ngModel)]="formData.CUENTA" id="CUENTA" name="CUENTA" #CUENTA="ngModel" (change)="numero_cuenta($event)" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CUENTAS"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>N. Cuenta bancaria <span class="required">*</span></label>
                                            <input class="form-control input-sm" [(ngModel)]="formData.NUMERO_CUENTA" id="NUMERO_CUENTA" name="NUMERO_CUENTA" #NUMERO_CUENTA="ngModel" placeholder="Numero de cuenta" required readonly>  
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>N. Cuenta contable <span class="required">*</span></label>
                                            <input class="form-control input-sm" [(ngModel)]="formData.NUMERO_CUENTA_CONTABLE" id="NUMERO_CUENTA_CONTABLE" name="NUMERO_CUENTA_CONTABLE" #NUMERO_CUENTA_CONTABLE="ngModel"  placeholder="Numero de cuenta contable" required readonly>  
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha<span class="required">*</span></label>
                                            <input type="date" class="form-control input-sm" [(ngModel)]="formData.FECHA" name="FECHA" id="FECHA" name="FECHA" #FECHA="ngModel" placeholder="Comprobante" disabled>
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                            <label for="telefono">NIT Proveerdor<span class="required">*</span></label>
                                            <div class="input-group form-group form-group-xs">
                                                <input class="form-control input-sm" type="text" [(ngModel)]="formData.NIT_PROVEEDOR" required="" id="NIT_PROVEEDOR" name="NIT_PROVEEDOR" #NIT_PROVEEDOR="ngModel" placeholder="Nit proveedor" >
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary btn-sm" style="font-size: 11.4px;" type="button" (click)="modal_proveedor()">
                                                            <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Razón social<span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm" [(ngModel)]="formData.RAZON_SOCIAL_PROVEEDOR" name="RAZON_SOCIAL_PROVEEDOR" id="RAZON_SOCIAL_PROVEEDOR" name="RAZON_SOCIAL_PROVEEDOR" #RAZON_SOCIAL_PROVEEDOR="ngModel" placeholder="Comprobante" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Teléfono proveedor<span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm" [(ngModel)]="formData.TELEFONO_PROVEEDOR" name="TELEFONO_PROVEEDOR" id="TELEFONO_PROVEEDOR" name="TELEFONO_PROVEEDOR" #TELEFONO_PROVEEDOR="ngModel" placeholder="Telefono" disabled>
                                        </div>
                                    </div> 
                                    <div class="col-xs-4">
                                        <div class="form-group form-group-xs">
                                            <label>Dirección proveedor<span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm" [(ngModel)]="formData.DIRECCION_PROVEEDOR" name="DIRECCION_PROVEEDOR" id="DIRECCION_PROVEEDOR" name="DIRECCION_PROVEEDOR" #DIRECCION_PROVEEDOR="ngModel" placeholder="Dirección" disabled>
                                        </div>
                                    </div>   
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                            <label for="telefono">Forma pago<span class="required">*</span></label>
                                            <select class="form-control input-sm" [(ngModel)]="formData.FORMA_PAGO" id="FORMA_PAGO" name="FORMA_PAGO" #FORMA_PAGO="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_FORMAS"> {{item.NOMBRE}} </option>
                                            </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Documento<span class="required">*</span></label>
                                            <input type="text" class="form-control input-sm" [(ngModel)]="formData.DOCUMENTO" name="DOCUMENTO" id="DOCUMENTO" name="DOCUMENTO" #DOCUMENTO="ngModel" placeholder="Documento" style="font-weight: bold;">
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Total deuda<span class="required">*</span></label>
                                            <input currencyMask class="form-control input-sm" [(ngModel)]="formData.TOTAL_DEUDA" name="TOTAL_DEUDA" id="TOTAL_DEUDA" name="TOTAL_DEUDA" #TOTAL_DEUDA="ngModel" placeholder="Comprobante" style="font-weight: bold;color: #ef2c2c;" readonly>
                                        </div>
                                    </div> 
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Total abonar<span class="required">*</span></label>
                                            <input currencyMask class="form-control input-sm" [(ngModel)]="formData.TOTAL_ABONO" name="TOTAL_ABONO" id="TOTAL_ABONO" name="TOTAL_ABONO" #TOTAL_ABONO="ngModel" placeholder="Comprobante" style="font-weight: bold;color: #18a02f;" (keyup)="calcular()">
                                        </div>
                                    </div>  
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Diferencia<span class="required">*</span></label>
                                            <input currencyMask class="form-control input-sm" [(ngModel)]="formData.DIFERENCIA" name="DIFERENCIA" id="DIFERENCIA" name="DIFERENCIA" #DIFERENCIA="ngModel" placeholder="Comprobante" style="font-weight: bold;color: #2c9eef;" readonly>
                                        </div>
                                    </div>   
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <h4 class="header">Detalle del egreso
                                            <label style="float: right;">
                                                <input type="checkbox" class="checkbox style-0" [(ngModel)]="selecct"  [ngModelOptions]="{standalone: true}">
                                                <span style="font-size: 15px;"> Seleccionados</span>
                                            </label>
                                        </h4>
                                        <br>
                                        <table class="table table-bordered zoom">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" colspan="7">Factura</th>
                                                    <th class="text-center" colspan="3">Egreso</th>
                                                </tr>
                                                <tr>
                                                    <th>Factura</th>
                                                    <th>Fecha</th>
                                                    <th>Fecha vencimiento</th>
                                                    <th>Valor total</th>
                                                    <th>Abonado</th>
                                                    <th>Devoluciones</th>
                                                    <th>Saldo</th>
                                                    <th class="text-right" width=120>Abonar</th>
                                                    <th class="text-right" width=120>Nuevo saldo</th>
                                                    <th class="text-right">OK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of list_factura; let i = index;">
                                                        <td><a>{{item.comfac}}</a> </td>
                                                        <td>{{item.fecha}}</td>
                                                        <td>{{item.fecha_vencimiento}}</td>
                                                        <td>{{item.valfac | currency}}</td>
                                                        <td>{{item.abofac | currency}}</td>
                                                        <td>{{item.devfac | currency}}</td>
                                                        <td>{{item.valfac - item.abofac | currency}}</td>
                                                        <td class="val"><input class="form-control" style="height: 24px;" currencyMask [(ngModel)]="item.abono"  name="ABONO-{{i}}" (keyup)="calcular()" [disabled]="item.active" value="0"></td>
                                                        <td class="text-right" width=120>{{item.valfac - item.abono | currency}}</td>
                                                        <td class="text-right">
                                                            <input type="checkbox" (change)="cambiar(i)" [(ngModel)]="item.active" name="active-{{i}}">
                                                        </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <div class="row">
                                            <section class="col-xs-8">
                                                <section class="">
                                                    <h4 class="header">Cargos, descuentos, retenciones
                                                        <a class="btn btn-success btn-xs" style="float: right;position: relative;"
                                                                (click)="modal_conceptos()">
                                                            <fa-icon [icon]="icons.faplus"></fa-icon>
                                                        </a>
                                                    </h4>
                                                    <br>
                                                    <table class="table table-bordered table-condensed zoom-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Descuento</th>
                                                                    <th>Tipo</th>
                                                                    <th>Base</th>
                                                                    <th>Por %</th>
                                                                    <th>Valor</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of list_conceptos; let i = index">
                                                                    <td>{{item.nomcon}}</td>
                                                                    <td>
                                                                        <span *ngIf="item.tipcon==1 || item.tipcon==3" class="label label-danger" [ngStyle]="{'background-color': item.tipcon == 2 ? '#ae70af' : item.tipcon == 3 ? '#f47d43': '#e66665' }">{{item.nomtip}}</span>
                                                                        <span *ngIf="item.tipcon==2" class="label label-success" style="background-color: #ae70af" >{{item.nomtip}}</span>
                                                                    </td>
                                                                    <td>
                                                                        <input *ngIf="item.tipcon==1 || item.tipcon==3" style="height: 24px !important;" currencyMask class="form-control" [(ngModel)]="item.base" name="base-{{i}}" style="text-align:right;width:100px" (keyup)="calcular()">
                                                                        <i *ngIf="item.tipcon==2" class="fa fa-times"></i>
                                                                    </td>
                                                                    <td>
                                                                        <p *ngIf="item.tipcon==1 || item.tipcon==3">{{item.porcon}}</p>
                                                                        <p *ngIf="item.tipcon==2">
                                                                            <i class="fa fa-times"></i>
                                                                        </p>
                                                                    </td>
                                                                    <td>
                                                                        <input *ngIf="item.tipcon==2" class="form-control" style="height: 24px !important;" currencyMask style="text-align:right;width:100px" (keyup)="calcular()" [(ngModel)]="item.valco" name="valco-{{i}}">
                                                                        <p *ngIf="item.tipcon==1 || item.tipcon==3">{{item.valco | currency}}</p>   
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-danger btn-xs" (click)="eliminardes(i)" style="border-radius: 3px;">
                                                                            <i class="fa fa-times fa-fw"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </section>
                                                <br>
                                                <div class="row">
                                                    <div class="col-sm-12" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                          <h4 class="header">Comentarios</h4>
                                                          <br>
                                                          <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                                          <br>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="col-xs-4">
                                                <h4 class="header">Resumen de pago</h4>
                                                <br>
                                                <div >
                                                    <div class="col col-xs-12" >
                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                            <!-- <i class="fa fa-cut" style="color: #94b0ff; "></i> -->
                                                            <fa-icon [icon]="icons.faHandscissors" [styles]="{'color': '#e66665', 'font-size': '32px'}"></fa-icon>
                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{egreso.OTRAS_RETENCIONES | currency}}</small>
                                                            <span style="font-size: 8px; color: #e66665;" > RETENCIONES</span>
                                                        </h1>
                                                    </div>
                                                    
                                                    <div class="col col-xs-12">
                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                            <!-- <i class="glyphicon glyphicon-tags" style="color: #fa8e9d; "></i> -->
                                                            <fa-icon [icon]="icons.faPercent" [styles]="{'color': '#f47d43', 'font-size': '32px'}"></fa-icon>
                                                            <small style="font-weight: bold;   color: #363636"> &nbsp; {{egreso.OTROS_DESCUENTO | currency}}</small>
                                                            <span style="font-size: 8px; color: #f47d43;" > DESCUENTOS</span>
                                                        </h1>
                                                    </div>
                                                    
                                                    <div class="col col-xs-12">
                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                            <i class="fa fa-shopping-cart" style="color: #ae70af; font-size: 32px "></i>
                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{egreso.OTROS_CARGOS | currency }}</small>
                                                            <span style="font-size: 8px; color: #ae70af; " > CARGOS</span>                                                            
                                                        </h1>
                                                    </div>
                                                    
                                                    <div class="col col-xs-12">
                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                            
                                                            <fa-icon [icon]="icons.faMoneyBillWave" [styles]="{'color': '#076bb6', 'font-size': '32px'}"></fa-icon>
                                                            <!-- <fa-icon [icon]="icons.faCreditCard"  [styles]="{'background': ' -webkit-gradient(linear, left top, left bottom, from(#0c8), to(#333))', 'font-size': '32px', 'webkit-background-clip': 'text', '-webkit-text-fill-color': 'transparent', 'display': initial}"></fa-icon> -->
                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{egreso.TOTAL_ABONO | currency}}</small>
                                                            <span style="font-size: 8px; color: #076bb6;" > ABONO </span>
                                                        </h1>
                                                    </div>
                                                    <div class="col col-xs-12" style="border-top: 1px solid rgba(0,0,0,.1);">
                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                            
                                                            <fa-icon [icon]="icons.faCreditCard" [styles]="{'color': '#18a02f', 'font-size': '32px'}"></fa-icon>
                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{egreso.TOTAL_PAGAR | currency}}</small>
                                                            <span style="font-size: 8px; color: #18a02f;" > TOTAL PAGAR </span>
                                                        </h1>
                                                    </div>
                                                    
                                                </div>
                                                <!-- <section class="">
                                                    <h4 class="header">Resumen egreso</h4>
                                                    <br>
                                                    <br>
                                                    <table class="table table-bordered resumen_form">
                                                        <thead>
                                                            <tr>
                                                                <th>Resumen del egreso</th>
                                                                <th class="text-right"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>Neto del egreso</th>
                                                                <th class="text-right">{{egreso.NETO_EGRESO| currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Abono a facturas</th>
                                                                <th class="text-right">{{egreso.ABONO_FACTURAS|
                                                                    currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Otros descuentos</th>
                                                                <th class="text-right">{{egreso.OTROS_DESCUENTOS |
                                                                    currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Retenciones</th>
                                                                <th class="text-right">{{egreso.RETENCIONES | currency }}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Otros cargos</th>
                                                                <th class="text-right">{{egreso.OTROS_CARGOS | currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="2">&nbsp;</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Sobrante</th>
                                                                <th class="text-right text-danger">{{egreso.SOBRANTE |
                                                                    currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Total egreso</th>
                                                                <th class="text-right text-success">{{egreso.TOTAL_EGRESO |
                                                                    currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="2">&nbsp;</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Nuevo saldo</th>
                                                                <th class="text-right text-info">{{egreso.NUEVO_SALDO |
                                                                    currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Anticipos</th>
                                                                <th class="text-right text-info">{{egreso.ANTICIPOS |
                                                                    currency}}</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section> -->
                                            </section>
                                        </div>
                                    </fieldset>
                                </div>
                                
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar requisicion</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>
<ngx-smart-modal #proveedorModal identifier="proveedorModal" [closable]="false" [escapable]="false" [dismissable]="false" customClass="modal-smart-60 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Conceptos</h4>
    </div>    
    <div class="modal-body">
        <dx-data-grid #gridProveedor id="gridProveedor" (onRowClick)="selectionChangedHandler($event)" [dataSource]="proveedor" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
            <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
            <dxo-header-filter></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-export [enabled]="true" fileName="Conceptos" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
        
            <dxi-column dataField="codter" caption="Codigo"></dxi-column>
            <dxi-column dataField="nomter" caption="Nombre"></dxi-column>
        </dx-data-grid>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="proveedorModal.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>
<ngx-smart-modal #conceptosModal identifier="conceptosModal" [closable]="false" [escapable]="false" [dismissable]="false" customClass="modal-smart-60 modal-smart-top-5">
        <div class="modal-header">
            <h4 class="modal-title">Conceptos</h4>
        </div>    
        <div class="modal-body">
            <dx-data-grid #gridConceptos id="gridConceptos" (onRowClick)="selectionChangedHandler3($event)" [dataSource]="conceptos" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
                <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                <dxo-header-filter></dxo-header-filter>
                <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="Conceptos" [allowExportSelectedData]="true"></dxo-export>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-selection mode="single"></dxo-selection>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
                </dxo-pager>
            
                <dxi-column dataField="codcon" caption="Codigo"></dxi-column>
                <dxi-column dataField="nomcon" caption="Nombre"></dxi-column>
            </dx-data-grid>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-danger" (click)="conceptosModal.close()">Cerrar</button>
        </div>
        
    </ngx-smart-modal>

