.header{
    margin-bottom: 0px;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}
.bloke-blue {
    border-left: 5px solid #94b0ff;
    margin: 0;
}
.bloke-red {
    border-left: 5px solid #fa8e9d;
    margin: 0;
}
.bloke-green {
    border-left: 5px solid #96d5ac;
    margin: 0;
}
.bloke-orange {
    border-left: 5px solid #d5b396;
    margin: 0;
}