<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva consignación</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <h4 class="header">Datos generales</h4>
                                <br>
                                <!-- Recibo de caja info-->
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label> Almacen <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                    <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Banco <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                        </select>
                                        </div>    
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="form-group form-group-xs">
                                            <label>Cuenta bancaria <span class="required">*</span></label>
                                            <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Fecha consignacion<span class="required">*</span></label>
                                            <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA" name="FECHA" id="FECHA" name="FECHA" #FECHA="ngModel" placeholder="Comprobante" disabled>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="form-group form-group-xs">
                                            <label>Numero de referencia <span class="required">*</span></label>
                                            <input class="form-control input-xs" type="text" [(ngModel)]="formData.NUMERO_REFERENCIA" required="" id="NUMERO_REFERENCIA" name="NUMERO_REFERENCIA" #NUMERO_REFERENCIA="ngModel" placeholder="Numero">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <div class="row">
                                                <div class="col col-md-12">
                                                    <h4 class="header">Pendientes por consignar</h4>
                                                    <br>
                                                    <table class="table table-bordered table-bordered table-striped zoom">
                                                        <thead>
                                                            <tr>
                                                                <th>Recibido en(Caja/Banco)</th>
                                                                <th>Nit/C.c</th>
                                                                <th>Cliente</th>
                                                                <th>No. Recibo</th>
                                                                <th>Cpr. Recibo</th>
                                                                <th>Forma</th>
                                                                <th>Documento</th>
                                                                <th>Fecha</th>
                                                                <th>Banco</th>
                                                                <th width=150>Pendiente</th>
                                                                <th width=150>Consignar</th>
                                                                <th width=50></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="item in consignaciones_pendientes">
                                                                <td>{{item.nomcaja}}</td>
                                                                <td>{{item.codter}}</td>
                                                                <td>{{item.nomter}}</td>
                                                                <td>
                                                                    <u class="pointer">
                                                                        <a ng-click="ver_documento('RC',item.idrec)">{{item.conrec}}</a>
                                                                    </u>
                                                                </td>
                                                                <td>{{item.comrec}}</td>
                                                                <td>{{item.nomfor}}</td>
                                                                <td>{{item.documento}}</td>
                                                                <td>{{item.fecha | kDateAddFromDateISO8601 : 1 | date:'yyyy-MM-dd'}}</td>
                                                                <td>{{item.nombco}}</td>
                                                                <td>{{item.valor | currency:"$":2}}</td>
                                                                <td>
                                                                    <input type="text" focus-null=item.consignar ng-disabled="item.codfor=='CH'" class="input-xs input-right input-val" ui-money-mask="2"
                                                                        ng-change="recalcular()" ng-model="item.consignar">
                                                                </td>
                                                                <td>
                                                                    <input type="checkbox" ng-model="item.active" ng-checked="item.active" ng-change="recalcular()" name="ver">
                                                                </td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 class="header">Comprobantes a generar </h4>
                                                <br>
                                                <div class="row-fluid">
        
                                                    <table class="table table-bordered resumen_form table-condensed zoom">
                                                        <thead>
                                                            <tr>
                                                                <th>Codigo</th>
                                                                <th>Nombre</th>
                                                                <th>Detalle</th>
                                                                <th class="text-right">Debito</th>
                                                                <th class="text-right">Credito</th>
                                                                <th class="text-right">Base</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="comprob in comprobantes_compra track by $index">
                                                                <td>{{comprob.codcue}}</td>
                                                                <td>{{comprob.nomcue}}</td>
                                                                <td>{{comprob.detalle}}</td>
                                                                <td class="text-right">{{comprob.debito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.credito | currency:"$":0}}</td>
                                                                <td class="text-right">{{comprob.base_retencion | currency:"$":0}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="4" class="text-right">Diferencia</th>
                                                                <th class="text-right">{{comprobante_totaldebito - comprobante_totalcredito | currency:"$":0}}</th>
                                                                <th>
                                                                    <a style="padding: 3px;" ng-click="cargar_comprobantes()" class="btn btn-default  center-block txt-color-purple">
                                                                        <i class="fa fa-refresh fa-lg"></i>
                                                                    </a>
                                                                </th>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col col-md-4 ">
                                                <h4 class="header">Resumen Consignacion</h4>
                                                <br>
                                                <section class="row-fluid">
                                                    <table class="table table-bordered resumen_form">
                                                        <thead>
                                                            <tr>
                                                                <th>Resumen</th>
                                                                <th class="text-right"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th>Total Efectivo</th>
                                                                <th class="text-right text-info">{{consignacion.TOTAL_EFECTIVO | currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Total Cheques</th>
                                                                <th class="text-right text-info">{{consignacion.TOTAL_CHEQUES | currency}}</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Valor consignacion</th>
                                                                <th class="text-right text-success">{{consignacion.TOTAL_CONSIGNACION | currency}}</th>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </section>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                          <h4 class="header">Comentarios</h4>
                                          <br>
                                          <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                          <br>
                                    </div>
                                </div>
                              
                          </form>
                      </div>
                      <div class="widget-footer">
                            <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                            <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                    <i class="fa fa-save"></i> Guardar requisicion</button>
                      </div>
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>

