/* You can add global styles to this file, and also import other style files */

/* #GOOGLE FONT */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");
@import "~ng-snotify/styles/material";
@import "~ngx-smart-modal/ngx-smart-modal";
span.required{
    color: red;
    font-weight: bold;
}
.backg_pedidos_total_Formpedido_acordado {
    background: #0400ff1a !important
}
input:focus {
    background: #ffff0038;
}

select:focus {
  background: #ffff0038;
}

.modal-title {
    font-weight: bold !important;
  }
  
  .codigo {
    font-weight: bold !important;
    text-align: right !important;
  }
  
  label > span {
    color: red !important;
  }
  
  .nsm-dialog {
    max-width: 100%;
  }
  
  .nsm-overlay-open {
    z-index: 10001 !important;
  }
  
  .nsm-content {
    padding: 0px;
  }
  
  .mr3 {
    margin: 3px;
  }
  
  .modal-smart-20 {
    width: 20%;
  }
  
  .modal-smart-30 {
    width: 30%;
  }
  
  .modal-smart-40 {
    width: 40%;
  }
  
  .modal-smart-top-25 {
    top: 25% !important;
  }
  
  .modal-smart-top-20 {
    top: 20% !important;
  }
  
  .modal-smart-top-15 {
    top: 15% !important;
  }
  
  .modal-smart-top-10 {
    top: 10% !important;
  }
  
  .modal-smart-top-5 {
    top: 5% !important;
  }
  
  .modal-smart-top-2 {
    top: 2% !important;
  }
  
  .modal-smart-50 {
    width: 50%;
  }
  
  .modal-smart-60 {
    width: 60%;
  }
  
  .modal-smart-75 {
    width: 75%;
  }
  
  .modal-smart-80 {
    width: 90%;
  }
  
  .modal-smart-90 {
    width: 90%;
  }
  
  .modal-smart-95 {
    width: 95%;
  }
  .zoom-table{
    zoom: 0.9;
  }
  .header{
      margin-bottom: 0px;
      border-bottom: 1px solid rgba(0, 0, 0, .2);
      font-weight: bold;
  }