<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva radicación</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                      <div class="widget-body">
                          <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="etiquetarapida" *ngIf="TipoFac == 1">Radicación de productos</h4>
                                        <h4 class="etiqueta" *ngIf="TipoFac == 0"> Radicación de conceptos</h4>
                                        <label class="switch">
                                            <input type="checkbox" (click)="cambio_tipo_egreso($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="TipoFac">
                                            <div class="slider round" style="height: 20px;"></div>
                                        </label>
                                    </div>
                                </div>
                                <!-- Recibo de caja info-->
                                <div class="row" style=" border-top: 1px solid rgba(0,0,0,.1); padding-top: 1%;"> 
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label> Almacen <span class="required">*</span></label>
                                                <select class="form-control input-xs" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                        <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group form-group-xs">
                                                <label>Fecha de compra <span class="required">*</span></label>
                                                <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA_COMPRA" name="FECHA_COMPRA" id="FECHA_COMPRA" name="FECHA_COMPRA" #FECHA_COMPRA="ngModel" >
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group form-group-xs">
                                                <label>Días vende <span class="required">*</span></label>
                                                <input class="form-control input-xs" type="number" [(ngModel)]="formData.DIAS_VENCE" id="DIAS_VENCE" name="DIAS_VENCE" #DIAS_VENCE="ngModel" required>
                                            </div>    
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group form-group-xs">
                                                <label>Fecha de vencimiento <span class="required">*</span></label>
                                                <input type="date" class="form-control input-xs" [(ngModel)]="formData.FECHA_VENCE" name="FECHA_COMPRA" id="FECHA_COMPRA" name="FECHA_COMPRA" #FECHA_COMPRA="ngModel" >
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label>N° factura proveedor <span class="required">*</span></label>
                                                <input class="form-control input-xs" type="text" [(ngModel)]="formData.NUMERO_FACTURA_PROVEEDOR" required="" id="NUMERO_FACTURA_PROVEEDOR" name="NUMERO_FACTURA_PROVEEDOR" #NUMERO_FACTURA_PROVEEDOR="ngModel" placeholder="Numero de factura">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label>Nit proveedor <span class="required">*</span></label>
                                                <!-- <input class="form-control input-xs" [(ngModel)]="formData.DOCUMENTO" id="NIT_PROVEEDOR" name="NIT_PROVEEDOR" #NIT_PROVEEDOR="ngModel" placeholder="Documento" required> -->
                                                <div class="input-group form-group form-group-xs">
                                                    <input class="form-control input-xs" type="text" [(ngModel)]="formData.DOCUMENTO" id="NIT_PROVEEDOR" name="NIT_PROVEEDOR" #NIT_PROVEEDOR="ngModel" placeholder="Codigo remisión"  disabled>
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-primary btn-xs" style="font-size: 13.4px;" type="button">
                                                                <i class="fa fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label>Razón social <span class="required">*</span></label>
                                                <input class="form-control input-xs" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" placeholder="Razón social" #RAZON_SOCIAL="ngModel" required disabled>  
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label>Teléfono proveedor <span class="required">*</span></label>
                                                <input class="form-control input-xs" type="text" [(ngModel)]="formData.TELEFONO_PROVEEDOR" required="" id="TELEFONO_PROVEEDOR" name="TELEFONO_PROVEEDOR" #TELEFONO_PROVEEDOR="ngModel" placeholder="Teléfono de proveedor" disabled>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="form-group form-group-xs">
                                                <label>Dirección proveedor <span class="required">*</span></label>
                                                <input class="form-control input-xs" type="text" [(ngModel)]="formData.DIRECCION_PROVEEDOR" required="" id="DIRECCION_PROVEEDOR" name="DIRECCION_PROVEEDOR" #DIRECCION_PROVEEDOR="ngModel" placeholder="Dirección de proveedor" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <fieldset *ngIf="TipoFac==1" style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <h4 class="header">Productos</h4>
                                            <br>
                                            <div class="row-fluid">
                                                <div class="">
                                                    <table class="table table-bordered table-condensed" datatable="ng" dt-options="dtOptions_detallado">
                                                        <thead>
                                                            <tr>
                                                                <th>N° Orden</th>
                                                                <th>Codigo producto</th>
                                                                <th>Nombre</th>
                                                                <th>Recibida</th>
                                                                <th>Radicadas</th>
                                                                <th>Radicar</th>
                                                                <th>Costo</th>
                                                                <th>%Desc</th>
                                                                <th>%Iva</th>
                                                                <th>Subtotal</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr ng-repeat="item in productosES track by $index">
                                                                <td>{{item.numcom}}</td>
                                                                <td>{{item.codins}}</td>
                                                                <td>{{item.nomins}}</td>
                                                                <td class="text-right">{{item.crecom}}</td>
                                                                <td class="text-right">{{item.cfacom}}</td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right" ui-number-mask="0" style="width: 60px" ng-change="cantidad()" class="text-right"
                                                                        ng-model="item.cantidad" ng-change="cantidad()">
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right" ng-change="cantidad()" ng-model="item.vuncom" ui-number-mask="2" focus-null=item.vuncom>
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="input-xs input-right" ng-change="cantidad()" ng-model="item.descom" ui-number-mask="2" focus-null=item.descom>
                                                                </td>
                                                                <td class="text-right">{{item.ivacom}}</td>
                                                                <td class="text-right">{{item.cosins | currency}}</td>
                                                                <td>
                                                                    <a class="btn btn-xs btn-danger" ng-click="eliminarProducto($index)">
                                                                        <i class="fa fa-remove"></i>
                                                                    </a>
                                                                </td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <fieldset *ngIf="TipoFac==1" style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <div class="row">
                                                <div class="col col-md-12">
                                                    <h4 class="header">Porcentajes y cuentas para fletes y seguros </h4>
                                                    <br>
                                                    <div class="row-fluid">
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th class="text-center" colspan="2">Iva</th>
                                                                    <th class="text-center" colspan="2">Retefuente</th>
                                                                    <th class="text-center" colspan="2">Reteica</th>
                                                                </tr>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Porcentaje</th>
                                                                    <th>Cuenta</th>
                                                                    <th>Porcentaje</th>
                                                                    <th>Cuenta</th>
                                                                    <th>Porcentaje</th>
                                                                    <th>Cuenta</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr>
                                                                    <td>Fletes</td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_iva_fletes ng-change="cantidad()"
                                                                            ng-model="otras_datos_contables.por_iva_fletes">
                                                                    </td>
                                                                    <td>
                                                                        <select ng-model="otras_datos_contables.codcue_iva_fletes" ng-click="searchCuenta('cuenta_iva_fletes')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_retefuente_fletes
                                                                            ng-change="cantidad()" ng-model="otras_datos_contables.por_retefuente_fletes">
                                                                    </td>
                                                                    <td>
                                                                        <select ng-model="otras_datos_contables.codcue_retefuente_fletes" ng-click="searchCuenta('cuenta_retefuente_fletes')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_reteica_fletes ng-change="cantidad()"
                                                                            ng-model="otras_datos_contables.por_reteica_fletes">
                                                                    </td>
                                                                    <td>            
                                                                        <select ng-model="otras_datos_contables.codcue_reteica_fletes" ng-click="searchCuenta('cuenta_reteica_fletes')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Seguros</td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_iva_seguros ng-change="cantidad()"
                                                                            ng-model="otras_datos_contables.por_iva_seguros">
                                                                    </td>
                                                                    <td>
                                                                        <select ng-model="otras_datos_contables.codcue_iva_seguros" ng-click="searchCuenta('cuenta_iva_seguros')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_retefuente_seguros
                                                                            ng-change="cantidad()" ng-model="otras_datos_contables.por_retefuente_seguros">
                                                                    </td>
                                                                    <td>
                                                                       
                                                                        <select ng-model="otras_datos_contables.codcue_retefuente_seguros" ng-click="searchCuenta('cuenta_retefuente_seguros')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <input type="text" class="input-xs input-right" ui-number-mask="2" focus-null=otras_datos_contables.por_reteica_seguros ng-change="cantidad()"
                                                                            ng-model="otras_datos_contables.por_reteica_seguros">
                                                                    </td>
                                                                    <td>
                                                                        <select ng-model="otras_datos_contables.codcue_reteica_seguros" ng-click="searchCuenta('cuenta_reteica_seguros')" class="form-control">
                                                                            <option ng-value="item.codcue" ng-repeat="item in cuentas_contables" ng-hide="1==1">
                                                                                <strong>{{item.codcue}}</strong> - {{item.nomcue}}
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <fieldset *ngIf="TipoFac==0" style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <div class="row">
                                                <div class="col col-md-12">
                                                    <h4 class="header">Conceptos a facturar</h4>
                                                    <br>
                                                    <div class="row-fluid">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Concepto</th>
                                                                        <th width=300>Nota</th>
                                                                        <th width=90>Valor</th>
                                                                        <th width=90>Iva</th>
                                                                        <th width=90>Retefuente</th>
                                                                        <th width=90>Reteica</th>
                                                                        <th width=120>Total</th>
                                                                        <th width=60>
                                                                            <a tooltips tooltip-template="Agregar" tooltip-side="left" data-toggle="modal" data-target="#modalconceptos" class="btn btn-xs btn-success">
                                                                                <i class="fa fa-plus-square"></i>
                                                                            </a>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- <tr ng-repeat="concepto in conceptos_radicar track by $index">
                                                                        <td>
                                                                            <p>
                                                                                <strong>{{concepto.codcon}}</strong> - {{concepto.nombre}}
                                                                            </p>
                                                                        </td>
                                                                        <td>
                                                                            <label>
                                                                                <span ng-hide="!item.editval">Nota:</span>
                                                                                <input type="text" ng-model=concepto.nota maxlength="150" style="min-width: 300px">
                                                                            </label>
                                                                        </td>
                                                                        <td>
                                                                            {{concepto.valor | currency}}
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-right" ng-hide="item.editval" ng-class="{'editTrue':item.editval}">{{concepto.valor_iva | currency}}</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-right" ng-hide="item.editval" ng-class="{'editTrue':item.editval}">{{concepto.valor_rft | currency}}</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-right" ng-hide="item.editval" ng-class="{'editTrue':item.editval}">{{concepto.valor_ica | currency}}</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-right" ng-class="{'editTrue':item.editval}">
                                                                                <strong>{{concepto.total | currency}}</strong>
                                                                            </p>
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-xs btn-default" ng-click="editConcepto(concepto)">
                                                                                <i class="fa fa-edit"></i>
                                                                            </a>
                                                                            <a class="btn btn-xs btn-danger" ng-click="eliminarConcepto($index)">
                                                                                <i class="fa fa-remove"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr> -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row"> 
                                        <fieldset style=" padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <div class="row">
                                                <div class="col col-md-8">
                                                    <h4 class="header">Comprobantes a generar </h4>
                                                    <br>
                                                    <div class="row-fluid">
            
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th>Codigo</th>
                                                                    <th>Nombre</th>
                                                                    <th>Detalle</th>
                                                                    <th class="text-right">Debito</th>
                                                                    <th class="text-right">Credito</th>
                                                                    <th class="text-right">Base</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr ng-repeat="comprob in comprobantes_compra track by $index">
                                                                    <td>{{comprob.codcue}}</td>
                                                                    <td>{{comprob.nomcue}}</td>
                                                                    <td>{{comprob.detalle}}</td>
                                                                    <td class="text-right">{{comprob.debito | currency}}</td>
                                                                    <td class="text-right">{{comprob.credito | currency}}</td>
                                                                    <td class="text-right">{{comprob.base_retencion | currency}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th colspan="4" class="text-right">Diferencia</th>
                                                                    <th class="text-right">{{comprobante_totaldebito - comprobante_totalcredito | currency}}</th>
                                                                    <th>
                                                                        <a style="padding: 3px;" ng-click="cargar_comprobantes()" class="btn btn-default  center-block txt-color-purple">
                                                                            <i class="fa fa-refresh fa-lg"></i>
                                                                        </a>
                                                                    </th>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col col-md-4 ">
                                                    <h4 class="header">Resumen Compra</h4>
                                                    <br>
                                                    <section class="row-fluid">
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th>Resumen</th>
                                                                    <th class="text-right"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Subtotal</th>
                                                                    <th class="text-right  text-info">{{radicacionFactura.SUBTOTAL | currency}}</th>
                                                                </tr>
                                                                <tr ng-hide="TipoFac!=1">
                                                                    <th>Descuentos</th>
                                                                    <th class="text-right text-danger">{{radicacionFactura.TOTA_DESCUENTO | currency}}</th>
                                                                </tr>
                                                                <tr ng-hide="TipoFac!=1">
                                                                    <th>Valor mercancia</th>
                                                                    <th class="text-right text-blue">{{radicacionFactura.SUBTOTAL - radicacionFactura.TOTA_DESCUENTO | currency}}</th>
                                                                </tr>
                                                                <tr ng-hide="TipoFac!=1">
                                                                    <th>Fletes</th>
                                                                    <th class="text-right">
                                                                        <input type="text" class="input-xs input-right" [(ngModel)]="radicacionFactura.FLETES" name="FLETES" #FLETES="ngModel"  style="width: 140px;text-align: right;float: right; color:#57889c !important" >
                                                                    </th>
                                                                </tr>
                                                                <tr ng-hide="TipoFac!=1">
                                                                    <th>Seguros</th>
                                                                    <th class="text-right">
                                                                        <input type="text" class="input-xs input-right" [(ngModel)]="radicacionFactura.SEGUROS" name="SEGUROS" #SEGUROS="ngModel" style="width: 140px;text-align: right;float: right; color:#57889c !important" >
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Iva</th>
                                                                    <th class="text-right  text-info">{{radicacionFactura.TOTAL_IVA | currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Retefuente</th>
                                                                    <th class="text-right  text-danger">{{radicacionFactura.TOTAL_RETEFUENTE | currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Reteica</th>
                                                                    <th class="text-right  text-danger">{{radicacionFactura.TOTAL_RETEICA | currency}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <th colspan="2">&nbsp;</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total factura</th>
                                                                    <th class="text-right text-success">{{radicacionFactura.TOTAL_COMPRA | currency}}</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <div class="row">
                                                <section class="col col-md-12">
                                                    <h4 class="header">Comprobantes a generar </h4>
                                                    <br>
                                                    <div class="row-fluid">
            
                                                        <table class="table table-bordered resumen_form">
                                                            <thead>
                                                                <tr>
                                                                    <th>Codigo</th>
                                                                    <th>Nombre</th>
                                                                    <th>Detalle</th>
                                                                    <th class="text-right">Debito</th>
                                                                    <th class="text-right">Credito</th>
                                                                    <th class="text-right">Base</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr ng-repeat="comprob in comprobantes_nota track by $index">
                                                                    <td>{{comprob.codcue}}</td>
                                                                    <td>{{comprob.nomcue}}</td>
                                                                    <td>{{comprob.detalle}}</td>
                                                                    <td class="text-right">{{comprob.debito | currency}}</td>
                                                                    <td class="text-right">{{comprob.credito | currency}}</td>
                                                                    <td class="text-right">{{comprob.base_retencion | currency}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <th colspan="4" class="text-right">Diferencia</th>
                                                                    <th class="text-right">{{comprobante_totaldebito - comprobante_totalcredito | currency}}</th>
                                                                    <th>
                                                                        <a style="padding: 3px;" ng-click="cargar_comprobantes()" class="btn btn-default  center-block txt-color-purple">
                                                                            <i class="fa fa-refresh fa-lg"></i>
                                                                        </a>
                                                                    </th>
                                                                </tr> -->
                                                            </tbody>
                                                        </table>
                                                    </div>
            
                                                </section>
                                                <section class="col col-md-6">
            
                                                </section>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                              <h4 class="header">Comentarios</h4>
                                              <br>
                                              <textarea rows="3" ng-model="formData.DESCRIPCION" name="DESCRIPCION" placeholder="Escribe aqui la descripcion" class="form-control input-sm"></textarea>
                                              <br>
                                        </div>
                                        <div class="col-sm-4" style="border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                            <h4 class="header">Resumen nota</h4>
                                            <br>
                                            <table class="table table-bordered resumen_form">
                                                <thead>
                                                    <tr>
                                                        <th>Resumen del nota</th>
                                                        <th class="text-right"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Neto nota</th>
                                                        <th class="text-right">{{notascliente.ABONOS | currency }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Iva nota</th>
                                                        <th class="text-right">{{ notascliente.ABONOS_IVA | currency }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Valor nota</th>
                                                        <th class="text-right text-success">{{ notascliente.ABONOS+notascliente.ABONOS_IVA | currency }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2">&nbsp;</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Nuevo saldo</th>
                                                        <th class="text-right text-info">{{ notascliente.SALDO_NUEVO | currency }}</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                  
                              </form>
                          </div>
                          <div class="widget-footer">
                                <button type="button" ui-sref="app.tablero_facturaciones" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                                <button type="submit" [disabled]="verificar_accion(1093)" class="btn btn-success">
                                        <i class="fa fa-save"></i> Guardar nota</button>
                          </div>
                      </div>
                  </div>
              </sa-widgets-grid>
          </article>
      </div>
    </div>