<div id="content">
  <div class="row">
      <article class="col-sm-12">
          <sa-widgets-grid>
              <div sa-widget color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>

                      <h2>Nueva recibo de caja</h2>
                      <div class="widget-toolbar">
                        <a (click)="atras()" class="btn btn-warning"><i class="fa fa-plus-square"></i> Regresar</a>
                     </div>
                  </header>
                  <div>
                        <form #reciboCajaForm="ngForm">
                            <div class="widget-body">
                                
                                        <h4 class="header">Datos básicos</h4>
                                        <br>
                                        <!-- Recibo de caja info-->
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                    <label>NIT de la empresa <span class="required">*</span></label>
                                                    <input type="text" class="form-control input-sm"  [(ngModel)]="formData.NIT_EMPRESA" id="NIT_EMPRESA" name="NIT_EMPRESA" #NIT_EMPRESA="ngModel" placeholder="NIT Empresa" disabled>
                                                </div>    
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                    <label>Razón social <span class="required">*</span></label>
                                                    <input type="text" class="form-control input-sm" [(ngModel)]="formData.RAZON_SOCIAL" id="RAZON_SOCIAL" name="RAZON_SOCIAL" #RAZON_SOCIAL="ngModel" placeholder="Razòn social" disabled>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                    <label> Almacen <span class="required">*</span></label>
                                                    <select class="form-control input-sm" [(ngModel)]="formData.ALMACEN" id="ALMACEN" name="ALMACEN" #ALMACEN="ngModel" required>
                                                            <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_ALMACEN"> {{item.NOMBRE}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                    <label>Fecha <span class="required">*</span></label>
                                                    <input class="form-control input-sm" type="date" [(ngModel)]="formData.FECHA" required="" id="FECHA" name="FECHA" #FECHA="ngModel" disabled placeholder="Celular">
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group form-group-xs">
                                                    <label>N° Comprobante <span class="required">*</span></label>
                                                    <input type="number" class="form-control input-sm" [(ngModel)]="formData.NUMERO_COMPROBANTE" name="NUMERO_COMPROBANTE" id="NUMERO_COMPROBANTE" name="NUMERO_COMPROBANTE" #NUMERO_COMPROBANTE="ngModel" placeholder="Comprobante">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                    <label>Consignar en <span class="required">*</span></label>
                                                    <select type="text"  class="form-control input-sm" [(ngModel)]="formData.CONSIGNAR_CUENTA" id="CONSIGNAR_CUENTA" name="CONSIGNAR_CUENTA" #CONSIGNAR_CUENTA="ngModel" required>
                                                        <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_CUENTAS"> {{item.NOMBRE}} {{item.ID}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group form-group-xs">
                                                    <label for="telefono">Identificación cliente <span class="required">*</span></label>
                                                        <div class="input-group form-group form-group-xs">
                                                            <input class="form-control input-sm" type="text" [(ngModel)]="formData.IDENTIFICACION_CLIENTE" required="" id="IDENTIFICACION_CLIENTE" name="IDENTIFICACION_CLIENTE" #IDENTIFICACION_CLIENTE="ngModel" (keydown)="buscarTercero($event)" [disabled]="TipoFac == 0" placeholder="Identificación" >
                                                            <div class="input-group-btn">
                                                                <button class="btn btn-primary btn-sm" style="font-size: 11.4px;" (click)="modal_terceros()" type="button">
                                                                        <i class="fa fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group form-group-xs">
                                                    <label>Nombres cliente <span class="required">*</span></label>
                                                    <input type="text" class="form-control input-sm" [(ngModel)]="formData.NOMBRES_CLIENTE" id="NOMBRES_CLIENTE" name="NOMBRES_CLIENTE" #NOMBRES_CLIENTE="ngModel" placeholder="Nombre del cliente"  disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-2">
                                                    <div class="form-group form-group-xs">
                                                        <label for="telefono">Cobrador <span class="required">*</span></label>
                                                            <div class="input-group form-group form-group-xs">
                                                                <input class="form-control input-sm" type="text" [(ngModel)]="formData.COBRADOR"  name="COBRADOR" id="COBRADOR" #COBRADOR="ngModel" required placeholder="Identificación" >
                                                                <div class="input-group-btn">
                                                                    <button class="btn btn-primary btn-sm" style="font-size: 11.4px;" (click)="modal_vendedores()" type="button">
                                                                            <i class="fa fa-search"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                    </div>
                                                <!-- <div class="form-group form-group-xs"> 
                                                    <label>Cobrador <span class="required">*</span></label>
                                                    <input type="text" class="form-control input-sm" [(ngModel)]="formData.COBRADOR"  name="COBRADOR" id="COBRADOR" #COBRADOR="ngModel" placeholder="Cedula" required>
                                                </div> -->
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group form-group-xs"> 
                                                    <label>Nombre cobrador <span class="required">*</span></label>
                                                    <input type="text" class="form-control input-sm" placeholder="Nombre" [(ngModel)]="formData.NOMBRE_COBRADOR"  name="NOMBRE_COBRADOR" id="NOMBRE_COBRADOR" #NOMBRE_COBRADOR="ngModel" disabled required>
                                                </div>
                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group form-group-xs"> 
                                                    <label>Valor abonar <span class="required">*</span></label>
                                                    <input currencyMask class="form-control input-sm" placeholder="Vr recibo" (keyup)="calcular()" [disabled]="formData.TOTAL_DEUDAS == 0" [(ngModel)]="formData.ABONO_FACTURA" name="ABONO_FACTURA" id="ABONO_FACTURA" #ABONO_FACTURA="ngModel">
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <h2 style="font-weight: bold;color: green;">Total deuda: {{formData.TOTAL_DEUDAS | currency}}</h2>
                                            </div>
                                        </div>
                                        <div class="row">
                                                <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                        <h4 class="header">Facturas pedientes por cobrar
                                                        </h4>
                                                        <br>
                                                        <div class="contenedor" style="overflow-x: scroll;">
                                                            <table class="table table-bordered zoom">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Factura</th>
                                                                        <th>Fecha</th>
                                                                        <th>Fecha vencimiento</th>
                                                                        <th>Plazo</th>
                                                                        <th>Forma de pago</th>
                                                                        <th>Vlr. Factura</th>
                                                                        <th>Abonos</th>
                                                                        <th>Abono</th>
                                                                        <th class="text-right">OK</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of facturas; let i = index;">
                                                                        <td>
                                                                            <u class="pointer">
                                                                                <a (click)="ver_factura(item.id_factura)">{{item.comprobante}}</a>
                                                                            </u>
                                                                        </td>
                                                                        <td>{{item.fecha | date}}</td>
                                                                        <td>{{item.fecha_vencimiento | date}}</td>
                                                                        <td>{{item.plazo}}</td>
                                                                        <td>{{item.modpag}}</td>                                                                
                                                                        <td class="val">{{item.total | currency}}</td>
                                                                        <td class="val">{{'0' | currency}}</td>
                                                                        <td class="val"><input class="form-control" style="height: 24px;" currencyMask [(ngModel)]="item.abono"  name="ABONO-{{i}}" (keyup)="calcular()" [disabled]="item.active" value="0"></td>
                                                                        <td class="val">
                                                                            <input type="checkbox" (change)="cambiar(i)" [(ngModel)]="item.active" name="ACTIVE-{{i}}">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br>
                                                        </div>
                                                </fieldset>
                                        </div>
                                        <div class="row">
                                            <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                    <div class="row">
                                                        <section class="col-md-6">
                                                            <div>
                                                                <h4 class="header">Cargos, Descuentos, Retenciones
                                                                    <a class="btn btn-success btn-xs" style="float: right;position: relative;" (click)="modal_conceptos()">
                                                                        <fa-icon [icon]="icons.faplus"></fa-icon>
                                                                    </a>
                                                                </h4>
                                                                <br>
                                                                <br>
                                                                <table class="table table-bordered table-condensed zoom-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Descuento</th>
                                                                            <th>Tipo</th>
                                                                            <th>Base</th>
                                                                            <th>Por %</th>
                                                                            <th>Valor</th>
                                                                            <th>Acciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let item of list_conceptos; let i = index">
                                                                            <td>{{item.nomcon}}</td>
                                                                            <td>
                                                                                <span *ngIf="item.tipcon==1 || item.tipcon==3" class="label label-danger" [ngStyle]="{'background-color': item.tipcon == 2 ? '#ae70af' : item.tipcon == 3 ? '#f47d43': '#e66665' }">{{item.nomtip}}</span>
                                                                                <span *ngIf="item.tipcon==2" class="label label-success" style="background-color: #ae70af" >{{item.nomtip}}</span>
                                                                            </td>
                                                                            <td>
                                                                                <input *ngIf="item.tipcon==1 || item.tipcon==3" style="height: 24px !important;" currencyMask class="form-control" [(ngModel)]="item.base" name="base-{{i}}" style="text-align:right;width:100px" (keyup)="calcular()">
                                                                                <i *ngIf="item.tipcon==2" class="fa fa-times"></i>
                                                                            </td>
                                                                            <td>
                                                                                <p *ngIf="item.tipcon==1 || item.tipcon==3">{{item.porcon}}</p>
                                                                                <p *ngIf="item.tipcon==2">
                                                                                    <i class="fa fa-times"></i>
                                                                                </p>
                                                                            </td>
                                                                            <td>
                                                                                <input *ngIf="item.tipcon==2" class="form-control" style="height: 24px !important;" currencyMask style="text-align:right;width:100px" (keyup)="calcular()" [(ngModel)]="item.valco" name="valco-{{i}}">
                                                                                <p *ngIf="item.tipcon==1 || item.tipcon==3">{{item.valco | currency}}</p>   
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger btn-xs" (click)="eliminardes(i)" style="border-radius: 3px;">
                                                                                    <i class="fa fa-times fa-fw"></i>
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </section>
                                                        <section class="col-md-6">
                                                            <h4 class="header">Formas de pago
                                                                <button class="btn btn-success btn-xs" style="float: right;position: relative;" [disabled]="recibocaja.TOTAL_PAGAR == 0" (click)="modal_formas_pago()">
                                                                    <fa-icon [icon]="icons.faplus"></fa-icon>
                                                                </button>
                                                            </h4>
                                                            <br>
                                                            <br>
                                                            <table class="table table-bordered table-condensed zoom">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Codigo</th>
                                                                        <th>Forma de pago</th>
                                                                        <th>Banco</th>
                                                                        <th>Fecha</th>
                                                                        <th>Valor</th>
                                                                        <th>Acciones</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of formas_pago_rc; let i = index">
                                                                        <td>{{item.codfor}}</td>
                                                                        <td>{{item.nomfor}}</td>
                                                                        <td>{{item.nombco}}</td>
                                                                        <td>{{item.fecha}}</td>
                                                                        <td>{{item.valor | currency}}</td>
                                                                        <td>
                                                                            <button type="button" class="btn btn-danger btn-xs" (click)="eliminar_forma(i)" style="border-radius: 3px;">
                                                                                <i class="glyphicon glyphicon-remove"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </section>
                                                    </div>
                                            </fieldset>
                                        </div>
                                        <div class="row">
                                                <fieldset style="padding: 9px 14px 5px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 2%;">
                                                        <div class="row">
                        
                                                            <div class="col-sm-2">
                                                                    <h4 class="header">Comentarios</h4>
                                                                    <br>
                                                                    <textarea class="form-control input-sm" style="height: 125px;" [(ngModel)]="formData.DESCRIPCION" name="DESCRIPCION" id="DESCRIPCION" #DESCRIPCION="ngModel" rows="3" placeholder="Escribe aqui la descripcion" ></textarea>
                                                                    <br>
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <h4 class="header">Resumen de pago</h4>
                                                                <br>
                                                                <div >
                                                                    <div class="col col-xs-3" >
                                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                                            <!-- <i class="fa fa-cut" style="color: #94b0ff; "></i> -->
                                                                            <fa-icon [icon]="icons.faHandscissors" [styles]="{'color': '#e66665', 'font-size': '32px'}"></fa-icon>
                                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{recibocaja.OTRAS_RETENCIONES | currency}}</small>
                                                                            <span style="font-size: 8px; color: #e66665;" *ngIf="recibocaja.OTRAS_RETENCIONES == 0"> RETENCIONES</span>
                                                                            <fa-icon [icon]="icons.faMinus" [styles]="icon1style"></fa-icon>
                                                                        </h1>
                                                                    </div>
                                                                    
                                                                    <div class="col col-xs-3">
                                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                                            <!-- <i class="glyphicon glyphicon-tags" style="color: #fa8e9d; "></i> -->
                                                                            <fa-icon [icon]="icons.faPercent" [styles]="{'color': '#f47d43', 'font-size': '32px'}"></fa-icon>
                                                                            <small style="font-weight: bold;   color: #363636"> &nbsp; {{recibocaja.OTROS_DESCUENTO | currency}}</small>
                                                                            <span style="font-size: 8px; color: #f47d43;" *ngIf="recibocaja.OTROS_DESCUENTO == 0"> DESCUENTOS</span>
                                                                            <fa-icon [icon]="icons.faplus" [styles]="icon1style"></fa-icon>
                                                                        </h1>
                                                                    </div>
                                                                    
                                                                    <div class="col col-xs-3">
                                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                                            <i class="fa fa-shopping-cart" style="color: #ae70af; font-size: 32px "></i>
                                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{recibocaja.OTROS_CARGOS | currency }}</small>
                                                                            <span style="font-size: 8px; color: #ae70af; " *ngIf="recibocaja.OTROS_CARGOS == 0"> CARGOS</span>
                                                                            <fa-icon [icon]="icons.faequals" [styles]="icon1style"></fa-icon>
                                                                        </h1>
                                                                    </div>
                                                                    
                                                                    <div class="col col-xs-3">
                                                                        <h1 class=" txt-color-blueDark hidden-tablet">
                                                                            
                                                                            <fa-icon [icon]="icons.faMoneyBillWave" [styles]="{'color': '#076bb6', 'font-size': '32px'}"></fa-icon>
                                                                            <!-- <fa-icon [icon]="icons.faCreditCard"  [styles]="{'background': ' -webkit-gradient(linear, left top, left bottom, from(#0c8), to(#333))', 'font-size': '32px', 'webkit-background-clip': 'text', '-webkit-text-fill-color': 'transparent', 'display': initial}"></fa-icon> -->
                                                                            <small style="font-weight: bold; color: #363636"> &nbsp; {{recibocaja.TOTAL_PAGAR | currency}}</small>
                                                                            <span style="font-size: 8px; color: #076bb6;" *ngIf="recibocaja.TOTAL_PAGAR == 0"> PAGAR</span>
                                                                        </h1>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10 ">
                                                                <h4 class="header"> </h4>
                                                                <br>
                                                                <section class="row-fluid">
                                                                    <table class="table table-bordered table-condensed resumen_form zoom">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>RESUMEN</th>
                                                                                <th class="text-right"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <!-- <tr>
                                                                                <th>Neto del abono</th>
                                                                                <th class="text-right">{{recaudo.valor| currency:"$":0}}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Abono a facturas</th>
                                                                                <th class="text-right text-info">{{recibocaja.ABONO_FACTURA + recibocaja.DESCUENTOS_PRONTO_PAGO | currency}}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Otros retenciones</th>
                                                                                <th class="text-right text-danger">{{recibocaja.OTRAS_RETENCIONES | currency}}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Otros descuentos</th>
                                                                                <th class="text-right text-danger">{{recibocaja.OTROS_DESCUENTO | currency}}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Otros cargos</th>
                                                                                <th class="text-right text-info">{{recibocaja.OTROS_CARGOS | currency}}</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th colspan="2">&nbsp;</th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Total a pagar</th>
                                                                                <th class="text-right">{{recibocaja.TOTAL_PAGAR | currency}}</th>
                                                                            </tr> -->
                                                                            <tr>
                                                                                <th>Formas de pago</th>
                                                                                <th class="text-right">{{recibocaja.FORMAS_PAGO | currency}}</th>
                                                                            </tr>
                                                                                <!-- <tr>
                                                                                    <th>Diferencia</th>
                                                                                    <th class="text-right text-success">{{recibocaja.DIFERENCIA | currency}}</th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th>Saldo a favor</th>
                                                                                    <th class="text-right text-success">{{recibocaja.SALDO_FAVOR | currency}}</th>
                                                                                </tr> -->
                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                        </div>
                                
                            </div>
                            <div class="widget-footer">
                                    <button type="button" class="btn btn-danger" (click)="cancel()"><i class="fa fa-window-close"></i> Cancelar</button>
                                    <button (click)="generar_recibo(reciboCajaForm)" [disabled]="!reciboCajaForm.valid || recibocaja.TOTAL_PAGAR  == 0" class="btn btn-success">
                                            <i class="fa fa-save"></i> Guardar recibo de caja</button>
                            </div>
                        </form>
                        
                  </div>
              </div>
          </sa-widgets-grid>
      </article>
  </div>
</div>
<ngx-smart-modal #tercerosModal identifier="tercerosModal"  [closable]="false" [escapable]="false"
[dismissable]="false" customClass="modal-smart-80 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Terceros</h4>
    </div>    
    <div class="modal-body">
        <div class="row">
                <div class="col-md-12">
                    <dx-data-grid #gridTerceros id="gridTerceros" (onRowClick)="selectionChangedHandler($event)" [dataSource]="terceros" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
                        <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                        <dxo-header-filter></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Almacenes" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
                        </dxo-pager>
                    
                        <dxi-column dataField="codter" [width]="80" caption="Cedula"></dxi-column>
                        <dxi-column dataField="nomter" caption="Nombre"></dxi-column>
                        <dxi-column dataField="celter" [width]="100" caption="Telefono"></dxi-column>
                        <dxi-column dataField="dirter" [width]="150" caption="Direccion"></dxi-column>
                    </dx-data-grid>
                </div>   
        </div>
               
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="tercerosModal.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>
<ngx-smart-modal #vendedoresModal identifier="vendedoresModal"  [closable]="false" [escapable]="false"
[dismissable]="false" customClass="modal-smart-80 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Vendedores</h4>
    </div>    
    <div class="modal-body">
        <div class="row">
                <div class="col-md-12">
                    <dx-data-grid #gridVendedores id="gridVendedores" (onRowClick)="selectionChangedHandler2($event)" [dataSource]="vendedores" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
                        <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
                        <dxo-header-filter></dxo-header-filter>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-export [enabled]="true" fileName="Almacenes" [allowExportSelectedData]="true"></dxo-export>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
                        </dxo-pager>
                    
                        <dxi-column dataField="codter" caption="Cedula"></dxi-column>
                        <dxi-column dataField="nomven" caption="Nombre"></dxi-column>
                    </dx-data-grid>
                </div>   
        </div>
               
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="tercerosModal.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>
<ngx-smart-modal #formadepagoModal identifier="formadepagoModal" [closable]="false" [escapable]="false" [dismissable]="false" customClass="modal-smart-40 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Forma de pago</h4>
    </div>    
    <div class="modal-body">
        <div class="row">
                <div class="row">
                        <section class="col-md-12">
                            <div class="col-md-4">
                                <ul id="sparks" class="">
                                    <li class="sparks-info">
                                        <h5>
                                            Total a pagar
                                            <span class="txt-color-blue ng-binding">{{forma_pago.TOTAL_PAGAR | currency}}</span>
                                        </h5>
                                        <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                            <canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul id="sparks" class="">
                                    <li class="sparks-info">
                                        <h5>
                                            Total formas
                                            <span class="txt-color-blue ng-binding">{{forma_pago.FORMAS_PAGO | currency}}</span>
                                        </h5>
                                        <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                            <canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <ul id="sparks" class="">
                                    <li class="sparks-info">
                                        <h5 ng-click="copiarRestante()">
                                            Restante
                                            <span class="txt-color-blue ng-binding">{{forma_pago.TOTAL_PAGAR - forma_pago.FORMAS_PAGO | currency}}</span>
                                        </h5>
                                        <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                            <canvas width="89" height="26" style="display: inline-block; width: 89px; height: 26px; vertical-align: top;"></canvas>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <form name="forma_pago" class="smart-form">
                            <section class="col col-md-12 ">
                                Forma de pago:
                                <i class="req">*</i>
                                <label class="select">
                                    <select class="form-control" [(ngModel)]="forma_pago.FORMA" name="FORMA" (change)="total_valor()" >
                                        <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_FORMAS">{{item.NOMBRE}}</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-md-12" *ngIf="forma_pago.FORMA == 'TN' || forma_pago.FORMA =='CH' || forma_pago.FORMA == 'TC' || forma_pago.FORMA == 'TD'">
                                Numero:
                                <i class="req">*</i>
                                <label class="input">
                                    <input type="text" class="form-control" placeholder="Documento" [(ngModel)]="forma_pago.NUMERO" name="NUMERO">
                                </label>
                            </section>
                            <!--<section class="col col-md-12" *ngIf="forma_pago.FORMA == 'AN'">
                                Anticipos disponibles para utilizar:
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="40">Nro.</th>
                                            <th>Fuente</th>
                                            <th>Fecha</th>
                                            <th>Saldo</th>
                                            <th>Utilizar</th>
                                            <th width="20"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr ng-repeat="item in anticipos track by $index">
                                            <td>{{item.idant}}</td>
                                            <td>{{item.nomfue}}</td>
                                            <td>{{item.fecant | kDateAddFromDateISO8601 : 1 | date:'yyyy-MM-dd'}}</td>
                                            <td>{{item.saldo | currency:"$":2}}</td>
                                            <td>{{item.utilizar | currency:"$":2}}</td>
                                            <td>
                                                <input type="radio" name="ant_itemid" id="ant_itemid" value="{{$index}}" ng-click="seletAnt($index)" ng-checked="itemAntSelec==$index">
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </section>-->
                            <section class="col col-md-6" *ngIf="forma_pago.FORMA == 'TN' || forma_pago.FORMA =='CH' || forma_pago.FORMA == 'TC' || forma_pago.FORMA == 'TD'">
                                Fecha:
                                <i class="req">*</i>
                                <label class="input">
                                    <input type="date" [(ngModel)]="forma_pago.FECHA" name="FECHA" required>
                                </label>
                            </section>
                            <section class="col col-md-6" *ngIf="forma_pago.FORMA == 'TN' || forma_pago.FORMA =='CH' || forma_pago.FORMA == 'TC' || forma_pago.FORMA == 'TD'">
                                Franquicia:
                                <i class="req">*</i>
                                <label class="select">
                                    <select class="form-control" [(ngModel)]="forma_pago.FRANQUICIA" name="FRANQUICIA" >
                                        <option [value]="item.ID" *ngFor="let item of dataForm.ARRAY_FRANQUICIAS">{{item.NOMBRE}}</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="col col-md-12">
                                Valor:
                                <i class="req">*</i>
                                <label class="input">
                                    <input currencyMask [(ngModel)]="forma_pago.VALOR" name="VALOR" style=" font-weight: bold;font-size: 15px;color: green;" [disabled]="forma_pago.FORMA == 'AN'"
                                        class="form-control text-right" placeholder="Valor"  (keyup)="verificar_valor_forma()">
                                </label>
                            </section>
                            <!-- <section class="col col-md-12">
                                <br>
                                <button type="button" class="btn btn-primary btn-sm" style="float: right;" ng-click="addForma(forma_pago.FORMA, forma_pago.franquicia, forma_pago.valor, forma_pago.numero,forma_pago.fecha)">Agregar</button>
                            </section> -->
                        </form>
                    </div>
        </div>     
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="formadepagoModal.close()">Cerrar</button>
        <button type="button" class="btn btn-primary btn-sm" style="float: right;" (click)="addForma(forma_pago.FORMA, forma_pago.FRANQUICIA, forma_pago.VALOR, forma_pago.NUMERO, forma_pago.FECHA)">Agregar</button>
    </div>
    
</ngx-smart-modal>

<ngx-smart-modal #conceptosModal identifier="conceptosModal" [closable]="false" [escapable]="false" [dismissable]="false" customClass="modal-smart-60 modal-smart-top-5">
    <div class="modal-header">
        <h4 class="modal-title">Conceptos</h4>
    </div>    
    <div class="modal-body">
        <dx-data-grid #gridConceptos id="gridConceptos" (onRowClick)="selectionChangedHandler3($event)" [dataSource]="conceptos" [showBorders]="true" [showColumnLines]="true" [showRowLines]="true" >
            <!-- <dxo-filter-row [visible]="showFilterRow" [applyFilter]="currentFilter"></dxo-filter-row> -->
            <dxo-header-filter></dxo-header-filter>
            <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
            <dxo-export [enabled]="true" fileName="Conceptos" [allowExportSelectedData]="true"></dxo-export>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-selection mode="single"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20, 25, 30]" [showInfo]="true">
            </dxo-pager>
        
            <dxi-column dataField="codcon" caption="Codigo"></dxi-column>
            <dxi-column dataField="nomcon" caption="Nombre"></dxi-column>
        </dx-data-grid>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-danger" (click)="conceptosModal.close()">Cerrar</button>
    </div>
    
</ngx-smart-modal>

